[2020-05-05 05:38] GitMurf opened #1 "Elements like Links [a], Code [pre/code], and others are not copied"
When you highlight text that has a Link in it or Code formatting, the highlighter skips it and it is not copied. See comments below as I gather examples.

- [x] Links [a]
- [x] Code and other "pre" stuff [pre/code]

[2020-05-05 05:39] GitMurf commented on #1
Good example is just use the homepage of this repository and try to Highlight everything in the Readme you will see a Link in there for the video demo and then code examples. They are not copied.

[2020-05-05 05:40] GitMurf commented on #1
An example for code:

![image](https://user-images.githubusercontent.com/64155612/81037634-4e4a9b80-8e58-11ea-83d1-39107aa4614c.png)

[2020-05-05 05:41] GitMurf commented on #1
An example for a Link:

![image](https://user-images.githubusercontent.com/64155612/81037656-6c180080-8e58-11ea-9caa-923c618f728e.png)

[2020-05-06 06:00] GitMurf opened #2 "Used to upload GIFs to get link to use in README and other places"

[2020-05-06 06:01] GitMurf commented on #2
![mAJ64i32m8](https://user-images.githubusercontent.com/64155612/81142339-4b1ce180-8f24-11ea-908b-add409f0c7d4.gif)

[2020-05-07 21:05] GitMurf commented on #2
![TSD4BLbcOi](https://user-images.githubusercontent.com/64155612/81344530-c3da8580-906b-11ea-9696-3abce1d0a912.gif)

[2020-05-07 21:06] GitMurf commented on #2
![QefDv2HXx0](https://user-images.githubusercontent.com/64155612/81344586-e2408100-906b-11ea-9601-5b6082c6de5f.gif)

[2020-05-07 21:15] #1 closed

[2020-05-09 00:45] GitMurf opened #3 "Get URLs from <a> elements"
Steve Poindexter(opens in new tab)  @Murf This is incredible, thank you! Huge boost to what I've been trying to do.  Very much appreciated! If you could figure out a way to preserve a URL link in what is highlighted, I would VERY seriously consider naming that fifth child I'm never going to have Murf.

[2020-05-09 00:45] GitMurf opened #4 "If already highlighted, highlight again to create a "link" by adding [[]] around it"

[2020-05-09 02:23] #3 closed

[2020-05-09 17:15] GitMurf commented on #4
![PRPpEiBnHV](https://user-images.githubusercontent.com/64155612/81480345-0a4ff180-91de-11ea-8a10-6e4b5527c5e7.gif)

[2020-05-09 17:16] #4 closed

[2020-05-09 17:20] GitMurf opened #5 "<a> links and other elements at very beginning of a Highlight cause issues"

[2020-05-09 17:28] GitMurf commented on #5
- [ ] Issues with Github "Code" blocks within a LI ignoring words. See #GIF
    - [GitMurf/roam-highlighter: Chrome highlighter that quickly and easily puts your highlights into Roam format for easy pasting into your notes.](https://github.com/GitMurf/roam-highlighter) #[[Roam-Highlights]]
    - #GIF
        - ![](https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fap

[2020-05-11 00:04] GitMurf opened #6 "Mat McGann reported Windows Defender is flagging the background.js file for the chrome extension"
Roam Slack Thread: https://roamresearch.slack.com/archives/G013D2T1SSG/p1589154146050400

**Mat McGann:** @ Murf Not sure if other people are getting this but my Windows Security is stopping me using the highlighter thinking there's a trojan in it

**Mat McGann:** This occured just as the download of the github repo finished

![image](https://user-images.githubusercontent.com/64155612/81513827-19b

[2020-05-11 00:05] GitMurf commented on #6
Looks like it is targeting the background.js file for the Chrome Extension which has just the following standard code in it:

[code]

[2020-05-11 00:08] GitMurf commented on #6
**Murf:** I have no idea about that Windows Security. I am on windows 10 too and have zero problems. Are you on a work computer that may have some strict security / download restrictions? I'm sure it sees you downloaded a random .zip package from the internet and it had Javascript file in it and flags it.

Here are some articles talking about False Positives for the same "Trojan Sprisky..." descri

[2020-05-11 00:08] GitMurf commented on #6
looks like somewhat common occurrence when downloading Github repository. Which actually makes sense because you are downloading source code / scripts and Windows should flag it to make sure you know what you downloaded and that it could harm your computer if you don't trust it.

Unfortunately I don't know what I can do about this :slightly_smiling_face: It would be nice if it didn't flag it becau

[2020-05-11 00:09] GitMurf commented on #6
Alternative is to just download the highlighter.js script file and see if that gets flagged as well? Because that is the only "custom" file I provide for the script. The other stuff is just for setting up a Chrome Extension and once you have that setup, then all you have to do in the future is replace the highlighter.js script in your Chrome Extension folder and it will then update with the change

[2020-05-11 00:26] GitMurf opened #7 "Allow for Page Linking (blue HL) by double-clicking a single word that is already highlighted"
**Mat McGann:**  Brilliant! Only thought is that I'd be more likely to want to double click a word to link-highlight it than I would want to un-do the first highlight. So maybe Esc or right-click could undo the paste and double-click could select the whole word. But not sure, I'll download it and try it out.

Slack link: https://roamresearch.slack.com/archives/CN5MK4D2M/p1589153683094500?thread_ts

[2020-05-11 00:30] GitMurf commented on #7
Double Click Event: https://developer.mozilla.org/en-US/docs/Web/API/Element/dblclick_event

[2020-05-11 17:14] GitMurf opened #8 "Include highlighter.js in the chrome extension folder so plug n play"
From: theunis

https://roamresearch.slack.com/archives/G013D2T1SSG/p1589213159063700

@ Murf not sure if this has been mentioned before but i suggest you have the "chrome extension" folder be ready to go from the download, instead of having to copy the highlighter.js file in there, that workflow is quite strange ( / unexpected). the chrome extension folder is effectively a distribution, so I'd rec

[2020-05-11 17:15] GitMurf commented on #8
From me:

good point. Thanks for the feedback. I thought about that but also thought some people want the straight JS file to download instead of having to re download everything each time. But yeah you’re right would be more plug n play that way. I’ll think about restructuring it.

[2020-05-11 23:00] GitMurf commented on #2
![KfZJYsYBuJ](https://user-images.githubusercontent.com/64155612/81620376-8d20aa00-93a0-11ea-8a6a-55d4d427f27c.gif)

[2020-05-12 06:32] mrcasals opened #9 "Firefox version"
Hi!

Loved the idea! I'm a Firefox user, is there any chance this gets published as a Firefox extension?

Thanks for your work!

[2020-05-12 15:50] GitMurf commented on #9
This is on my list of To-Do but to be honest, far down the list. I am going to try and make the Chrome Extension as good/consistent as I can first, then can look into this. Realistically probably won't be for a week or two. I'll keep you posted here though.

[2020-05-12 16:25] mrcasals commented on #9
Awesome, thank you very much for you work! 😄

[2020-05-12 16:38] GitMurf commented on #9
**From Vladyslav Sitalo:** from skimming the code - I don’t believe you need to do anything chrome specific, as you don’t really use much of the extension stuff.
I think it’d be just defining the highliter.js as content script in manifest and it should just work

[2020-05-15 06:14] GitMurf commented on #2
![1dNigopKrH](https://user-images.githubusercontent.com/64155612/82017697-91ff8b00-9638-11ea-81a4-14608213e6cd.gif)

[2020-05-15 06:33] #7 closed

[2020-05-15 06:33] #8 closed

[2020-05-16 13:50] GitMurf opened #10 "Allow for hiding side window to start"
From Ivo V: I used it a few times so far and I'm happy with it. The only annoying thing is that clicking on the icon started to bring a pop-up with options. It was nicer without it. I understand that in some cases it's useful, but for me it just takes part of the screen and I have to click "hide" every time. It would be better if it's optional and configured in the extension settings. I would cert

[2020-05-16 13:51] GitMurf opened #12 "Send highlights directly to Roam when API comes out"
From Ivo V: In terms of features, I hope that one day I'd be able, once a log in thought the extension, to send highlights to Roam directly from the web page, the way I one does with Evernote clipper. (Now, as I'm slowly leaving Evernote, the web clipper is one of the main things I miss)

[2020-05-16 13:52] GitMurf commented on #10
@Ivo Velitchkov makes sense and I was already debating that! I will update so it starts hidden, then can open with ctrl+S AND/Or if you click extension button twice on a Tab it will show it. What you think?

[2020-05-16 13:52] GitMurf commented on #10
Or would you be okay with it if clicking Extension button twice hides it so since you prefer it hidden you could just by default double click extension button to start with it hidden? The reason I ask is that I’ve had a lot of folks talk about how much they love the window opening to start because then they know the highlighter is activated and working and “ready to go”.

[2020-05-16 14:03] GitMurf opened #13 "Auto start option for extension so don’t have to click button"
To your second point that one is a bit more sensitive. Since I’m messing with the clipboard and binding to a key like ctrl+X I don’t want to auto start the extension on every tab because I can hear it now “my ctrl+x is broken on websites after installing extension when I didn’t want to run it. How do I turn it off?” So that one is more dangerous.

I’ll dig around and see if there is a good way to

[2020-05-16 14:06] GitMurf commented on #10
Ok thanks for feedback! I’ll think about it because unfortunately I have to balance both sides of the argument ;) since many folks requested and love having window shown by default.but I hear you for sure.

I think the real solution is a chrome extension setting that is persistent that you can change/edit on whether to show the side window by default or not. I haven’t worked with extension options

[2020-05-16 16:13] #9 closed

[2020-05-16 16:34] mrcasals commented on #9
Yay!! Can we expect to have a Firefox version soon-ish then? 😍

[2020-05-16 22:11] GitMurf commented on #9
@mrcasals see the below tweet. It’s done but Firefox is being difficult because Roam is closed to Public! I’m working on getting around this though.

https://twitter.com/shawnpmurphy8/status/1261767090249191424?s=21

[2020-05-17 00:44] #5 closed

[2020-05-17 11:20] lkhphuc commented on #9
I installed manually from the .xpi file and it worked great. Please don't hack me though.
Just joking, thanks a lot.

[2020-05-17 11:23] lkhphuc commented on #13
How about customizable keyboard shortcuts?
For me on MacOS with Firefox, the Cmd+S is used for "save web page" (who does it anyway), and it cann't be override.
I'm not sure about Chrome but in Firefox the shortcut for extension can be configured like so.
<img width="958" alt="Screenshot 2020-05-17 at 12 23 32" src="https://user-images.githubusercontent.com/12573521/82143098-3bad6a80-9839-11ea-97b9

[2020-05-17 14:29] GitMurf commented on #9
@lkhphuc haha I know it is totally unfortunate we have to do it this way for now but Firefox has spoken and won’t let us publish addons until Roam is open beta :(

[2020-05-17 14:34] GitMurf opened #14 "Firefox extension manual install"
Firefox extension/add-on is ready to go but just got this from Mozilla... they won't approve my highlighter extension until Roam is public or Open Beta! Lame!

![image](https://user-images.githubusercontent.com/64155612/82151408-6fc06580-9810-11ea-920e-a017bd47985a.jpeg)

Since Firefox won't let us upload a public add-on until Roam is open Beta, I created a private add-on you have to download dire

[2020-05-17 14:38] GitMurf commented on #13
@lkhphuc it is supposed to override the default “save page” action. And I purposely picked that shortcut cuz as you said no one uses that and it also is “s” for “show” or “settings” so easy to remember. You have tried it and it is still trying to save the web page? Can you please take a GIF / screen recording and show me it happening? Thanks.

@sai-prasanna has the shortcut worked fine for you? Or

[2020-05-17 15:00] GitMurf commented on #13
@lkhphuc i see the problem. My binding for this one is actually the ctrl key on Mac too. So actually use control + S not command. I’ll fix and add command as option too. On my wife’s Mac it seems the first time you may have to press ctrl+S twice for some reason.

[2020-05-17 16:31] mrcasals commented on #9
Well, it's a nice start anyway! Thanks for your work and time on this! ❤️

[2020-05-17 17:55] GitMurf commented on #13
@lkhphuc ok I just updated the Firefox extension so now either Ctrl + S or Command + S should work. Can you uninstall current extension and then re-download and install and tell me if Command + S now works instead of the Webpage Save? Thanks!

https://github.com/GitMurf/roam-highlighter/blob/master/Firefox%20temp%20Add-on/roam_highlighter-1.8-fx.xpi

GitHub page > click "Download" > choose "Open"

[2020-05-17 18:23] lkhphuc commented on #13
Thank you. It work now after I click the little icon.
Only problem is the cut function Cmd+X is overided but I guess this is your design as, Ctrl-X also override cutting in Windows.

One minor detail is that it would be better if we can move all the shortcut to use the same modifier key though. Currently we're having Ctrl+Q, Cmd+X, Cmd/Ctrl+S. As `Cmd+...` are mapped to all sort of things by defau

[2020-05-17 18:55] GitMurf commented on #13
@lkhphuc thanks for the feedback! As for "Cut" we have no option because the way browsers work, to access the clipboard with javascript you have to initiate a cut, copy or paste event otherwise the browser thinks the code is potentially melicious and doesnt want random code to access the clipboard without the user initiating it with a clipboard type event/shortcut. Does that make sense? And the "c

[2020-05-17 19:41] lkhphuc commented on #13
Ah, the Cmd+X makes sense now. Thanks a lot.

[2020-05-18 06:06] tclaiborne commented on #10
+1 to offering a setting to not show the window. On my current device, the window overlaps the content, which makes it hard to read. I guess if it was narrower that I would also help.

[2020-05-18 14:32] tfiers opened #15 "Feature request: save settings"
Settings like the added tag or how to handle line breaks could be saved across tabs & sessions, so you don't have to re-input them for every new webpage.

Btw, great ideas in this plugin.

[2020-05-18 16:45] GitMurf commented on #15
@tfiers thanks for the input and for officially opening an Issue in Github! That really helps.

To your request, already in the works and hopefully in the next 1-2 days will have it updated! Keep posting new ideas as they come. Thanks!

[2020-05-20 17:01] royYYZSFO opened #16 "Remove formatting tags?"
I opened [this link](https://news.airbnb.com/a-message-from-co-founder-and-ceo-brian-chesky/) in GetPocket. When I highlighted, this is what I got in the sidebar. It would be great to remove the HTML formatting tags otherwise it's impossible to use the extension. Thanks!

Here's what it looks like - https://share.getcloudapp.com/2NuXDnGZ

<ul>
	<li>[Pocket - A Message from Co-Founder and CEO Brian

[2020-05-21 01:03] GitMurf commented on #15
@tfiers can you please confirm it auto updated for you and that it now saves like you requested? Any other features/changes you’d like to see? Thanks!

[2020-05-21 01:06] GitMurf commented on #16
@royYYZSFO I don’t understand your issue/request. I’m happy to fix/improve it asap but need more clarity on what you think the problem is? Thanks!

[2020-05-21 06:56] GitMurf opened #17 "Keep side window and clipboard open to aggregate across all tabs"
It would be a great tool, if that window remains open even when we switch the tabs.
this way we can copy text from more than one website in one go, and paste the final content in roam...

https://twitter.com/itsmelahi/status/1263196892768333824?s=21

[2020-05-21 06:57] GitMurf commented on #17
that’s a good idea. Let me look into it. Would definitely have to re-work some things but may be doable. I’ll keep you posted.

[2020-05-21 07:01] GitMurf opened #18 "Multiple formatting/highlight parsing options to choose between"
Maybe have a “simple mode” which keeps all highlights together on same line if see things like last “element/part” ended with a “ “ or “(“ etc. or current element/part starts with a “ “ space or punctuation like period or exclamation point etc. or “)”.

Then user can see what that looks like and then choose another pre configured option from a drop down that maybe does today’s current mixed logic.

[2020-05-21 07:13] GitMurf opened #19 "Add default copy [page title](URL) when losing extension from button click"
From Ivo:

Wish: There is just one thing I would really love to have and it's the one I would surely use the most: the current "Copy Page Title & URL" feature to work directly, without clicking on the extension icon first. I can't overstate how useful this would be. 95% I just need the URL in []() and 5% - highlights. I guess this is the case with most people but I might be wrong.

[2020-05-21 07:16] GitMurf commented on #19
RE: Wish: so if you don’t click the extension button, then I’d have to have the script loaded by default which I don’t want to do for the full thing without user explicitly turning it on because I can’t have the “cut” command always hijacked by my extension by default on every page. But I could partially load just the page title URL link like you said but it has to be binded to some user action. S

[2020-05-21 07:18] GitMurf opened #20 "Add setting / option to highlight by default and do NOT need ctrl+X"
Ok I’ll implement the auto highlight option into the settings over the next couple days so you can choose to highlight on selection without needing to use Ctrl+X. Does that sound good?

[2020-05-21 07:19] GitMurf opened #21 "Simplify basic instructions"
It's even simpler than that. It's a matter of actual experience starting from the extension page. For example: "To use the highlighter all you need to do is click on the icon, select text to highlight, pres Ctr+X, then next and when you are done, just paste in Roam. But if you want specific behaviour, the Highlighter is highly customisable and rich of features". Currently, the feeling is that RH c

[2020-05-21 07:20] GitMurf commented on #21
Ok makes sense. So you’re saying have the instructions and info on the highlighter be geared towards the straight forward simple aspect of using it. Then point/link to my Github page for example to see more “advanced features and workflows”... or something like that? I think that’s a good idea. And would be easier for me to keep the chrome store description simpler and clean. Is that what you mean

[2020-05-21 12:42] tfiers commented on #15
It works as imagined now, thank you!

[2020-05-21 12:42] #15 closed

[2020-05-21 18:12] royYYZSFO commented on #16
If you see in the image, the copying includes the HTML markup like <ul> </ul> <li> , etc….

https://share.getcloudapp.com/2NuXDnGZ

Ideally, it would be stripped of all of that markup so I'm just left with the text the way it looks in the page I was reading:

https://share.getcloudapp.com/xQuW2eAL

Thanks!

**
*
*Roy Raanani*

*
tel: +1 (415) 568-5718

On Wed, May 20, 2020 at 6:06 PM, GitMurf < no

[2020-05-21 20:17] tfiers commented on #19
Easier acces to copying just page title/URL (without hightlights) would be great indeed.

Current way to do this is:

1. activate plugin (which I have bound to a keyboard shortcut)
2. click on webpage again
3. ctrl-x

It would be great if the plugin already automatically copied page title/URL to clipboard when the plugin is activated (i.e. at step 1 above)

[2020-05-22 05:08] GitMurf commented on #16
@royYYZSFO ok now I understand the confusion! You must not have been auto updated yet! I removed the HTML the other day in the new version. Now there is a checkbox where you can choose to see the HTML if you have a reason (mainly for me when I'm testing stuff) but sometimes people may want HTML for website purposes. But by default it should only be showing the plain text without the HTML.

![image

[2020-05-22 05:52] GitMurf commented on #19
Implemented and will be included whenever the Chrome store publishes update and auto updates :-) Should be within next 12 hours or so. When you see v1.9.3 loaded in the side window message at startup of extension you'll know it should be working.

[2020-05-22 05:52] #19 closed

[2020-05-22 05:53] #10 closed

[2020-05-22 05:53] #16 closed

[2020-05-22 12:40] eBerdnA opened #22 "Settings are not visible on IE Edge browser"
I'm using the extension in Microsoft Edge (Chromium) and can't open respectively can't the settings. If I try to open them the content is moved to the left but no settings are display as you can see from the following screenshot.

![image](https://user-images.githubusercontent.com/2204092/82668417-fd012100-9c39-11ea-9641-10ea6a2ff882.png)

[2020-05-22 17:40] GitMurf opened #23 "Option to only copy Highlights and NOT the page title / URL"
From: Ruud Hein

https://twitter.com/RuudHein/status/1263800137198993408?s=20

Edge case, maybe. I often create my own title, so I don't need the bullets as children. Have to manually unindent them. I know....tiring, right :D

Dreaming: combine with YAWAS, storing highlights in Google Bookmarks, so on next visit you can show the highlights :)

[2020-05-22 17:40] GitMurf commented on #23
For the edge case, you can customize the title in the settings window in the highlighter. But sounds like an option to just copy the highlights without any Page Title or URL is the request? I can definitely add that. Please confirm I am understanding your want accurately though?

[2020-05-22 17:44] GitMurf commented on #22
@eBerdnA I know it isn't an answer you want to hear, but right now only supported for Firefox and Chrome. I have done zero testing on IE/Edge but I am definitely keeping an eye on this and will let you know when I have time to look into testing on Edge. Just not enough users on that browser to justify spending time right now on that versus fixing the current issues with the Extension. Hope you und

[2020-05-22 17:56] eBerdnA commented on #22
Fair enough.
Nevertheless I'm still confused why this extension does behave different in Chrome and MS Edge (Chromium) which I have just checked myself.

All other extensions in MS Edge work without any difference even though I installed them using the Chrome Web Store.

[2020-05-24 17:30] GitMurf opened #24 "Differentiating a # from a [[]] type link? Or creating an attribute:: type"
From: John PB

Slack: https://roamresearch.slack.com/archives/G013D2T1SSG/p1590286888294400

Wondered if there was a way of simplifying the create new link function? Instead of one option for a single word link and one for a multi-word link could they be combined into a single command? Also any way of differentiating a # from a [[]] type link? Or even creating an attribute:: type link. I know - it

[2020-05-24 18:09] GitMurf opened #25 "Mercury Reader clash with highlighter extension"
From: Ivo

Slack: https://roamresearch.slack.com/archives/G013D2T1SSG/p1589818046233400

I'm decluttering very often with Mecrury Reader. It seems to clash with the great RH.

The RH doesn't do anything there. To reproduce it, you need to install Mercury Reader, and activate on an article.

[2020-05-24 18:09] GitMurf commented on #25
oh ok so you're saying it is stopped from working at all as in Mercury Reader must "over rule" or prevent the highlighter from activating?

Ivo said yes this is correct.

[2020-05-24 18:31] GitMurf opened #26 "Wikiquote issue"
From: Ivo

Slack: https://roamresearch.slack.com/archives/D013WA1GKFD/p1590242350002700

I have reported one serious issue with Wikipedia in the channel. Here's a smaller one with Wikiquote:

https://en.wikiquote.org/wiki/Louis_Pasteur

• [Louis Pasteur - Wikiquote](https://en.wikiquote.org/wiki/Louis_Pasteur) #[[Roam-Highlights]]
• Dans les champs de l'observation le hasard ne favorise que les es

[2020-05-25 18:12] GitMurf opened #27 "Testing"
Start with this.

Here is a bulleted list:
- One
- Two
  - Two-one
    - Two-one-one
      - Two-one-one-one
    - Two-one-two
  - Two-two
- Three

No More bullets

[2020-05-26 04:21] GitMurf commented on #2
![Demo 1 - Activate and Copy first Highlight](https://user-images.githubusercontent.com/64155612/82860191-b297d280-9ecd-11ea-9e4a-aebe906391c7.gif)

[2020-05-26 04:32] GitMurf commented on #2
![Demo 2 - Removing highlights](https://user-images.githubusercontent.com/64155612/82860651-28e90480-9ecf-11ea-8c59-81ebc50a1687.gif)

[2020-05-26 04:37] GitMurf commented on #2
![Demo 3 - Selecting words from a highlight for Roam page linking](https://user-images.githubusercontent.com/64155612/82860891-e542ca80-9ecf-11ea-9242-652caad48673.gif)

[2020-05-26 04:44] GitMurf commented on #2
![Demo 5 - Side Window settings](https://user-images.githubusercontent.com/64155612/82861224-d7da1000-9ed0-11ea-9457-e10d76876908.gif)

[2020-05-26 04:46] GitMurf commented on #2
![Demo 8 - Kindle exxtraction demo](https://user-images.githubusercontent.com/64155612/82861292-12dc4380-9ed1-11ea-9df0-f218e9354ac9.gif)

[2020-05-26 05:08] GitMurf commented on #2
![Demo 6 - Auto indents bulleted lists and Headers](https://user-images.githubusercontent.com/64155612/82862301-26d57480-9ed4-11ea-886a-1e42f5e83a0b.gif)

[2020-05-26 05:11] GitMurf commented on #2
![Demo 7 - Manually add Header to nest under](https://user-images.githubusercontent.com/64155612/82862528-b418c900-9ed4-11ea-9c92-5e1b9fa70dbe.gif)

[2020-05-26 07:30] GitMurf opened #28 "Make RH compatible with other MD platforms"
You could probably rebrand the Highlighter for all MD tools, including Obsidian, Notion, Bear, Slite etc (there are dozens). For most, it would probably work as it is and for some, it would require additional work but this way it could read a much bigger population.

[2020-05-26 21:43] GitMurf commented on #2
![Demo 9 - Customize chrome shortcut keys](https://user-images.githubusercontent.com/64155612/82953227-3ea60a80-9f5f-11ea-83d9-09c316725e34.gif)

[2020-05-26 21:46] GitMurf commented on #2
![Demo 9 - Customize Firefox shortcut keys](https://user-images.githubusercontent.com/64155612/82953429-9e9cb100-9f5f-11ea-8122-e0c125b6053e.gif)

[2020-05-27 12:03] rdbcasillas opened #29 "Tool isn't working appropriately on many popular websites"
Hello,

Thanks a lot for making this. I am not sure what's the right place to post the popular websites where the tools isn't working as expected. But here are a couple of sites that I go to regularly:

http://www.paulgraham.com
https://numinous.productions/ttft/

As can be seen on these sites, the tool makes each line as a new bullet. Looking at chrome inspector, I do understand that the pages ar

[2020-05-27 14:47] #27 closed

[2020-05-27 14:48] #6 closed

[2020-05-27 14:48] #21 closed

[2020-05-27 14:48] #26 closed

[2020-05-27 14:49] #13 closed

[2020-05-27 14:50] GitMurf commented on #29
@rdbcasillas Thank you very much for your feedback! This is exactly the right place to report issues/questions. Also if you have any new ideas or requests for new features, this is also the place. I will look into your comments above and get back to you on it.

[2020-05-28 05:27] GitMurf commented on #29
@rdbcasillas are you referring to the extra line breaks it is creating in the middle of sentences? That is definitely an issue with the website as they are arbitrarily trying to make their text width shorter by using line breaks instead of managing with CSS / Styling. That being said, my Highlighter extension has settings to handle those peculiar situations. Please see the following GIFs I will be

[2020-05-28 05:54] GitMurf commented on #29
![troubleshooting line break issues](https://user-images.githubusercontent.com/64155612/83104141-fd9c1c00-a06c-11ea-8e87-f8a9eaed73a8.gif)

[2020-05-28 06:54] GitMurf commented on #29
![troubleshooting line break issues pt2](https://user-images.githubusercontent.com/64155612/83108937-6091b100-a075-11ea-8c80-531c091f68ac.gif)

[2020-05-28 14:47] rdbcasillas commented on #29
Thank you! This works very well for me. Should have fully explored the settings.

[2020-05-28 14:47] #29 closed

[2020-05-28 14:58] vitalwarley opened #30 "Settings side window with wrong width"
Hello,

First of all, thank you for this great tool!

I am only using for a day. Yesterday I didn't find anything wrong. However, today I noticed this bug in the side window:

![Peek 28-05-2020 11-42](https://user-images.githubusercontent.com/6365065/83157341-ddef0d00-a0d9-11ea-92d0-2680f4859996.gif)

After recording it, I reinstalled the extension: same problem. I also tried in Chromium: no luck.

[2020-05-28 18:32] GitMurf commented on #29
@rdbcasillas awesome! Glad it worked out. These kinds of scenarios are exactly why I worked those settings/options in there :) If you run into any other issues don't hesitate to reach out. As you can see, I am pretty responsive to Github Issues raised.

[2020-05-28 18:42] GitMurf commented on #30
@vitalwarley thank you for raising this issue and for the detailed GIF that helped me see the exact problem! I have it fixed and it will be updated in next release hopefully tonight (v1.9.7).

Can you confirm this "glitch" only happened on this webpage? Or at least on just a few and that most other web pages did not have this issue? I believe it has to do with how that webpage is doing HTML and CS

[2020-05-28 19:59] GitMurf commented on #30
Link to the website with the issue for historical testing purposes: http://augmentingcognition.com/ltm.html

[2020-05-28 21:36] vitalwarley commented on #30
I have tried in some different webpages here (~10) and the results I got were mostly 50/50. I think you're right, that it has to do with how the webpages manage its HTML and CSS.

Thanks for the fix!

[2020-05-30 06:38] Aushotshot opened #31 "Default setup"
Hi Murf - highlighter is good - great job.

Is there a way for me to configure so I can paste - this - by default - so that I don't have to go and delete it for each copy...
[Rom 2:12 NIV - All who sin apart from the law will - Bible Gateway](https://www.biblegateway.com/passage/?search=Rom+2%3A12&version=NIV)

as this: [Rom 2:12](https://www.biblegateway.com/passage/?search=Rom+2%3A12&version=NIV

[2020-05-30 14:41] GitMurf commented on #31
@Aushotshot what do you mean “go to write mode to see my issue”?

To answer your question, your issue actually gave me a great idea. Often a page title has a Dash as a separator just like yours does. I can add checkbox to settings that defaults to using page title up to the first dash which would give you what you want. Will add to my to do list.

[2020-05-30 14:43] GitMurf commented on #31
Well it wouldn’t give you exactly what you want but close. The NIV would still be there. But that is all I can do to automate your request. Otherwise I’d have to hardcore this in for your specific website and I can’t do that for everyone / every site. Hopefully my proposed workaround would be sufficient.

[2020-05-31 03:34] Aushotshot commented on #31
That's perfect Murf - never been on Github before -so (go to write...) was the markup view - ... :-) silly me!

[2020-05-31 07:39] GitMurf commented on #31
@Aushotshot finished the update and submitted to chrome store. Now just have to wait for them to confirm/finish the review. Usually takes 6-12 hours. As soon as the extension shows v1.9.7 then you should be able to use the new "truncate" option next to page title to shorten it to what you want. Once it has updated and is working for you please comment back here so I can close out the "Issue". Than

[2020-05-31 07:40] GitMurf commented on #28
Obsidian compatibility is complete and can easily customize for other platforms as well.

[2020-05-31 07:40] #28 closed

[2020-05-31 07:41] GitMurf commented on #30
@vitalwarley finished the update and submitted to chrome store. Now just have to wait for them to confirm/finish the review. Usually takes 6-12 hours. As soon as the extension shows v1.9.7 then it should be fixed. Once it has updated and is working for you please comment back here so I can close out the "Issue". Thanks!

[2020-05-31 07:49] #23 closed

[2020-05-31 17:19] mrcasals opened #32 "Option to remove external links"
Hi!

Is there any way to add an option to remove external links? Sometimes they're not meaningful, and removing them takes some manual work...

Thanks!

[2020-05-31 21:08] GitMurf commented on #32
@mrcasals do you mean the very top link I add of the webpage your highlighting from? Or do you mean links from within the stuff you’re highlighting?

[2020-06-01 02:27] vitalwarley commented on #30
@GitMurf thank you. Everything is working fine now :)

[2020-06-01 06:25] mrcasals commented on #32
Sorry, I meant the links within the highlighted text!

[2020-06-01 06:35] GitMurf commented on #32
@mrcasals interesting idea.... haven't had that request before. I'll put it on my list. What would you like done to the links? Just removed and blank/empty text in its place? Put a placeholder like [LINK] in its place to show where a link was removed? Or what other thoughts/ideas? How would you like it handled?

[2020-06-01 06:36] #30 closed

[2020-06-01 06:51] mrcasals commented on #32
My use case is highlighting sections of a Wikipedia article. Sometimes these articles are filled with links to other articles. While that's fine for the general use case, I guess, I get the feeling that these external links distract me on Notion, so I remove the link, keeping the text.

The highlighter converts links to markdown, check this simple example:

[code]

My request is an option to remov

[2020-06-01 06:56] Aushotshot commented on #31
Murf it's great!  Thank-you.

[2020-06-01 07:25] GitMurf commented on #32
Ok gotcha. Makes more sense now. I thought you were more worried about links that weren’t in markdown already. Like “You should visit www.espn.com if you want more info on sports.”

In this case though, what would you want because www.espn.com will show up as a link in Roam by default.

[2020-06-01 07:32] Aushotshot commented on #31
I manage to get all the blurb out by truncating at "N" - do no editing after paste.  Great outcome.  Thanks for your efforts.
[Gen 4:16](https://www.biblegateway.com/passage/?search=Gen+4%3A16&version=NIV)

[2020-06-01 07:45] mrcasals commented on #32
If the text contains a URL directly like in this case I'd leave it as it is, and if Roam detects this as a link then that's OK

[2020-06-02 12:46] vitalwarley opened #33 "Add option to insert notes on the same website (even if refreshed)"
Hello again!

I am not sure if I framed this request right. Please, look:

![Peek 02-06-2020 09-14](https://user-images.githubusercontent.com/6365065/83519546-90e0b180-a4b2-11ea-9930-731172c080f1.gif)

When I replace the page that I am reading its highlights go away. Nothing unexpected--the address changes.

This is a very unusual use case, I guess. Ideally, I would want to insert notes regardless

[2020-06-02 16:10] arthurjosse opened #34 "Settings aren't saved"
Roam-highlighter v. 1.9.7.1
Tested in Firefox v. 76 and Chrome v. 85

1. In a tab, Roam-highlighter panel expanded
2. Settings set to Obsidian
3. Hit save
4. Close browser
5. Reboot and go back to the same tab
6. Roam-highlighter has gone back to Roam as its default setting

[2020-06-03 07:30] #31 closed

[2020-06-03 07:36] GitMurf commented on #34
@arthurjosse i know it’s confusing but for the default settings chooser you need to click “SET” to use those settings. I have changed that all together now and update should be out shortly. Just waiting for chrome store review. Now it will save “onChange” event so as soon as you switch drop down from Roam to obsidian it will save. Also the save button is now greyed out unless there is something to

[2020-06-03 13:39] arthurjosse commented on #34
Thanks for your responsiveness and yes it completely makes sense.

I was already clicking on the "set" button but I think it worked as intended: resetting to default settings. It was a misunderstanding from my part.

But still, I have just tested the extension v. 1.9.7.2 in Chrome and it seems that not all settings are saved. The line breaks handling is saved but not the way the clipboard is showe

[2020-06-03 14:00] GitMurf commented on #34
“it seems that not all settings are saved.”

Do you specifically mean the plain text and HTML settings? That does not save as the default should show plain text because it’s more human readable. To be honest I’m probably going to remove these items. They are more for me when testing to see what the HTML on clipboard looks like.

“And we can tick both plain text and HTML, or left the two boxes unch

[2020-06-03 14:57] arthurjosse commented on #34
OK, got it, my settings are saved.

On my monitor I cannot see the placeholders if I don't lean over the screen. And yes there is no difference between the placeholders and the inputted text. Inputted values are greyed out. And some of the inputs are buggy: see the attached screenshot, the height input value style suddenly appeared, the caret is white and I can't highlight it (by holding down the

[2020-06-07 05:58] shrvenkataraman opened #35 "Feature to be able to access PDF files on browser and highlight them."
On browser, open pdf files, and highlight the content in those files - extract as obsidian or roam formatted text. This should be possible (hypothes.is does something similar).

[2020-06-15 07:00] kele888 opened #36 "Ability to highlight and copy images"
I think this would add immensely to the value of the extension. Often the images are an important part of the article/text.

[2020-06-15 13:45] hongwanliu opened #37 "MathJAX highlighting"
It would be amazing if roam-highlighter could handle MathJAX highlighting appropriately. Right now, the output is a little bit of a mess. See for example https://arxiv.org/abs/1404.1455, if I highlight the abstract,

![image](https://user-images.githubusercontent.com/17276243/84664604-629eaf80-af51-11ea-80b4-ad9d2828e801.png)

this is the output:

[code]

etc. Hopefully there's a way to detect Mat

[2020-06-19 16:39] K-293 opened #38 "Option to Hide links"
Your plugin is amazing!! Thank you sir/Madam

I've been using it a lot. however one thing that troubles me is that when I am using it to selectively read of Wikipedia, I end up lifting links that I do not want. And so I end up editing the copy pasted page to remove links.
If only there was a way to turn off this feature!

[2020-06-19 20:39] GitMurf opened #39 "Shacrw request for formatting of page title and meta data"
Hey Murf I had a feature request. basically, a way to paste highlights so that the article title is Page Title and highlights are pasted below. all the details in this thread https://twitter.com/shacrw_/status/1272262462088282115

### Murf

shacrw I’m a little confused. You know there are two Roam highlighters (I know confusing) and this one you are showing in screenshot is not the one I created r

[2020-06-19 21:22] GitMurf opened #40 "Twitter thread copying"
https://roamresearch.slack.com/archives/G013D2T1SSG/p1591726531416900

### Abhay

[[Feature request]] Twitter thread markdown export: If I’m on a Twitter thread, can the highlighter do a threadreaderapp style unroll of the thread (with just OP tweets, no other replies)? Not sure how difficult this is. Pasting original tweet URL is not searchable and not thread friendly. Believe Readwise has this f

[2020-06-19 21:25] GitMurf opened #41 "Copy list of all open tabs"
https://roamresearch.slack.com/archives/G013D2T1SSG/p1591790551427600

### Abhay

Another [[Feature request]]: I use this extension to copy a Markdown formatted list of all the open tabs I have into Roam. Could this feature also be integrated in Roam Highlighter? Not super urgent, since I can always just use this existing extension as needed.

### Murf

Oh I LOVE that! So you mean it would basical

[2020-06-19 21:28] GitMurf commented on #38
@K-293 so do you mean a setting that will remove all links from highlights on a page? If a link is [page name](URL) do you want it replaced with just Page Name? Or do you want it to be replaced with [Page Name]? Or do you want it just to remove page name / URL all together and show nothing in its place?

[2020-06-19 21:30] GitMurf commented on #38
@K-293 someone requested something similar I think. Can you checkout this request and let me know if you want the same thing?

https://github.com/GitMurf/roam-highlighter/issues/32

[2020-06-22 14:29] GitMurf opened #42 "Image highlighting"
### Gary Basin from slack

feature request: image highlighting so they can be embedded along with notes!

[2020-06-25 04:57] K-293 opened #43 "Ability to turn off links"
Hey man! Lovely plugin. Been using it with Obsidian for a while Now.

I use it to take notes off Wikipedia articles. It would be helpful if you could add the feature to turn off links. I would prefer not to have links in my note that arent added by me - I usually take notes off webpages and I will have to manually delete links from extracts - this takes a lot of time.

Thanks and regards!

[2020-06-25 07:40] mrcasals commented on #43
Seems like it's related to #32 😄

[2020-06-25 15:08] GitMurf commented on #43
And also #38 :-)

@mrcasals I have not forgotten about you! Just swamped at work so haven't made any updates in last few weeks. It is at the top of the list though. Hoping to get some time this weekend.

[2020-06-25 15:12] GitMurf commented on #43
Duplicate of #32

[2020-06-25 15:13] GitMurf commented on #38
Duplicate of #32

[2020-06-25 15:24] GitMurf commented on #38
/duplicate #32

[2020-06-25 15:31] GitMurf commented on #32
Closed the following two issues and marked as duplicates of this one: #38 and #43

[2020-06-25 15:32] GitMurf commented on #38
Duplicate of #32

[2020-06-25 15:32] #38 closed

[2020-06-25 15:32] GitMurf commented on #43
Duplicate of #32

[2020-06-25 15:32] #43 closed

[2020-06-25 15:35] GitMurf commented on #42
duplicate of #36

[2020-06-25 15:35] GitMurf commented on #42
Duplicate of #36

[2020-06-25 15:35] #42 closed

[2020-06-25 15:36] GitMurf commented on #36
Closed Issue #42 as a duplicate.

[2020-06-28 11:17] kele888 commented on #36
before copying the image for real, probably it would be easier at first to just add
![image title](image link on the web)

[2020-06-28 16:09] GitMurf commented on #36
@kele888 yes I agree that’s the plan. In fact I don’t see it ever being an option to actually copy the image with the way my highlighter works so this will have to be the solution.

[2020-07-01 12:28] aleksandar-todorovic commented on #14
Pardon my ignorance, but isn't Roam in open beta right now?

I can go to the website and click on "sign up". I don't see any mention of the wait list.

[2020-07-05 16:57] GitMurf opened #44 "Issue with highlighting references on a page"
https://roamresearch.slack.com/archives/D013WA1GKFD/p1593939727001100

A small issue: when highlighting the references after Further reading here, they are not treated as blocks.

![image](https://user-images.githubusercontent.com/64155612/86537690-e50df580-bea5-11ea-8dca-2416cfe7ed1e.png)

[2020-07-06 13:08] GitMurf opened #45 "Line break issues with The Atlantic"
https://roamresearch.slack.com/archives/G013D2T1SSG/p1594037382477200

https://www.theatlantic.com/politics/archive/2020/07/white-evangelicals-black-lives-matter/613738/

@ Murf The Atlantic gives consistent line- or paragraph-breaks just before mid-sentence links:

![image](https://user-images.githubusercontent.com/64155612/86596321-dd565b80-bf4e-11ea-84ac-8f8d77e55e9c.jpeg)

[2020-07-06 13:49] Murf commented on #45
You mean @GitMurf not @Murf

[2020-07-06 13:51] GitMurf commented on #45
Sorry didn’t mean to @ anyone. Was copy/pasted from Slack where someone @ me as my slack name there is Murf :)

[2020-07-06 16:12] GitMurf opened #46 "End indenting under Alt+A h6 manual header"
https://roamresearch.slack.com/archives/G013D2T1SSG/p1592505413453600

is there a way that, having turned "this is a heading" (Alt-A) on once, it can be turned off?

![image](https://user-images.githubusercontent.com/64155612/86615022-ba38a580-bf68-11ea-9da4-133d16ed5879.png)

![image](https://user-images.githubusercontent.com/64155612/86615032-bf95f000-bf68-11ea-9103-72ba0bbe7667.png)

![image](h

[2020-07-06 16:20] GitMurf commented on #46
Basically I need a way to signify when I want the h6 manual header from Alt+A to stop the child indents underneath it. Maybe doing Alt+A twice in a new highlight will turn it a color like blue instead of red and that will tell it to go back to normal indent level. Or probably don’t need to turn it blue text and instead just add the right attribute/property value to tell it to take the indent back

[2020-07-07 20:04] GitMurf opened #47 "Kindle notes extraction truncated"
From slack DM from Paul Loeffler:

hi Murf i have been using the highlighter esp for Kindle to Roam. I have long highlights and notes and it cuts them off. Can you allow for longer highlights and notes? They are in the HTML export ... Thank you for the very cool ext. cheers

[2020-07-07 20:04] GitMurf commented on #47
Hi Paul! Thanks for reaching out.

1) are the long highlights/notes showing fully on the kindle reading website where I extract the notes from? Can you send me an example screenshot of one of these long highlights/notes that is being cut off?

2) can you send me screenshot of what it looks like with my highlighter once it’s pasted into Roam? So I can see what is cutoff.

3) do you have an idea of

[2020-07-09 06:59] aviekakkar commented on #35
+1 for this! pleasee

[2020-07-09 21:01] GitMurf commented on #47
Response from Paul:

Going through your questions and digging in some i realized that i was highlighting in MacOS app and clipping from the A Cloud Reader. the Cloud Reader cuts off the full highlights from the MacOS app. An Amazon issue really. Any workaround thoughts would be great. Here is a zip with images and export from MacOS Kindle app if you want to research more.

[2020-07-10 09:39] david-ps opened #48 "Mouse Click Highlight not working"
Just installed latest Chrome Extension 1.9.7.2
Can only highlight using Crtl-X,
Mouse/cursor does not highlight ie no yellow and no copy to sidebar.
Have tried on Chrome and Edge latest versions.

[2020-07-10 12:51] GitMurf commented on #48
Auto highlight by mouse drag is not a feature of my highlighter... yet. Right now ctrl+X is only option.

[2020-07-13 10:32] DutchPete opened #49 "Undo"
Hi, I have RH installed in Chromium for use with Obsidian. I did something stupid: I clicked on the black button "clear all highlights".

I tried to undo with CTRL+Z but nothing happened. I am afraid you'll tell me they're lost forever, but I am hoping there is a way to recover them. Is there?

[2020-07-13 14:35] GitMurf commented on #49
@DutchPete i am sorry to hear that. But unfortunately yes there is no way to recover. The way it works with the HTML source code behind the scenes there is no way to implement an undo :( I know that's not the answer you want to hear. I am very sorry.

[2020-07-13 16:31] DutchPete commented on #49
OK, I understand, it's not your fault, I was stupid enough not to think it through properly what clicking on that button could/would mean.

I look at it on the bright side: the only way to learn is to make mistakes. Every cloud has its silver lining.

[2020-07-13 16:54] GitMurf opened #50 "Variety of issues with specific websites/articles"
Add in comments new specific issues as they come up for specific websites/articles that have some peculiarity with the way Roam-highlighter grabs the info.

[2020-07-13 16:55] GitMurf commented on #50
From Mediapathic from Discord DM:

Hey, FYI, found a slight bug: when I'm clipping I'm getting a space between the ending `_` and the word before it, which causes the italics to continue forever

https://cdn.discordapp.com/attachments/717188698554499142/731305390658158602/Screen_Shot_2020-07-10_at_17.25.30.png

This happens on Medium, but I'm not sure if it's because of something on their end

Sor

[2020-07-17 16:35] ccpalmer commented on #35
+1 - just spent an hour trying to figure out why this wasn't working.  This is a key capability for research.

[2020-07-21 20:08] jedweb opened #51 "Nothing happens on select in Firefox"
I'm on a page, I hit Alt-X (or click on the icon) to show the Roam Highlighter window. I select any text on the page. The text is not highlighted yellow like in the demos. Nothing shows up in the Roam Highlighter pane.

I copy the text. Still nothing. Is there more to this than I'm not aware of?

[2020-07-22 00:48] wshuyi commented on #36
I want this feature too. :)

Thanks for the great roam-highlighter extension. It helped me a lot!

[2020-07-22 13:40] rongmere opened #52 "Can not use on the local storage PDF"
Hi,
If it can be used to read the papers which store on my computer, it will be much more useful.

As I know, we can use the chrome open the local storage PDF  but can not use Roma HightLighter which can not catch the information without online (HTML).
Also, Weava Highlight can do that it turns paper online.

My Email: 573637109@qq.com

[2020-07-22 15:39] rongmere commented on #35
+1

[2020-07-24 18:57] ccpalmer opened #53 "Highlight generation mistakes"
Here's what I highlighted:

![Screen Shot 2020-07-24 at 2 56 06 PM](https://user-images.githubusercontent.com/4670554/88425724-e011d700-cdbd-11ea-9c98-854ce7ec907e.png)

and here's what was captured by the highlighter:

[code]

Note the `||h3||` and the three 'x's near the end.

[2020-08-08 13:29] nicolascarva opened #54 "Kindle Highlights still copy Highlight color and Location, even though unchecked"

[2020-08-08 13:32] #54 closed

[2020-08-08 13:32] nicolascarva commented on #54
Never mind. Forgot to save!

[2020-08-08 15:33] GitMurf commented on #52
Sorry but PDF highlighting requires a lot of different code and fundamental approach to accomplish. It is not something I plan to do unfortunately.

[2020-08-08 15:34] #52 closed

[2020-08-08 15:44] GitMurf commented on #35
I hear you all and wish I could say I can implement this but PDF highlighting requires a lot of different code and fundamental approach to accomplish. It is not something I plan to do unfortunately.

Appreciate the input/feedback though.

[2020-08-08 15:48] GitMurf commented on #53
@ccpalmer can you provide the website link to get to this page?

[2020-08-08 15:49] #49 closed

[2020-08-08 15:49] #47 closed

[2020-08-12 03:03] ayrtonoropeza opened #55 "Obsidian setting using <h1> HTML tags instead of # markdown syntax"
In order for the app to work more seamlessly with Obsidian, it should copy headers using markdown syntax `#`, instead of `<h1>` tags when using the Obsidian setting.

# Steps to reproduce

1. Open the extension and select the Obsidian preset
2. Enter a website and copy a couple of headers

# Expected result

[code]

# Actual result

[code]

---

While Obsidian recognizes HTML tags, this is not ide

[2020-08-14 17:35] GitMurf commented on #50
From Ivo on aug 14, 2020:

Another issue: when highlighting from this article there are huge amount of blocks created so paragraphs get broken in strange ways

https://ruben.verborgh.org/blog/2019/06/17/shaping-linked-data-apps/

[2020-08-14 17:38] GitMurf commented on #50
From Ivo on aug 12, 2020:

https://www.w3.org/TR/ldp/

Something very strange: on this page, the highlighter is normally activated and I can highlight with Ctrl-X but then when I paste in Roam, only URL alias is pasted, as if I've used only Alt-X. Do get the same experience?

[2020-08-16 00:07] eatondpe opened #56 "Anomalous behavior in Roam with Roam-Highlighter installd"
I've been forced to disable Roam-Highlighter due to the following interesting behaviors that occur only when Roam-Highlighter is active.

1. Pressing ctrl-v pastes text into Roam. But when Roam-Highlighter is active, it pastes that text someplace other than where the cursor is. Often, it will paste text at the beginning of the block under the cursor, rather than at the insert location.

2. Pasting

[2020-08-26 00:10] DRschulman opened #57 "Doesn't seem to work on Chrome OS"
On my Pixelbook Go, This is what I get when I select settings; and then try to click on any option:
![Screenshot 2020-08-25 at 8 01 37 PM](https://user-images.githubusercontent.com/45397647/91240060-ee317b00-e70e-11ea-879c-ecb997439dcd.png)

I can't select or change any options?

[2020-08-29 22:43] jasonromney opened #58 "using roam-highlighter with Evernote Web"
I'm wondering if it is possible to use roam-highlighter while an Evernote Web note is open for editing in a Chrome window please? I'm finding that if I highlight text in the Evernote note, and type Command-X to highlight it using roam-highlighter, the text is deleted instead of being yellow highlighted. Use of roam-highlighter in a Chrome window with a normal web page works fine. Thanks in advance

[2020-09-04 07:56] Quorafind commented on #34
@GitMurf A small question: I changed settings set from Roam Research to Obsidian, it will not be saved. Should I change it again and again when I use it to capture stuff?

[2020-09-10 15:18] pigpigfour opened #59 "Can add <iFrame> element?"
I tried, but it seemed not work:(

[2020-09-16 14:46] agriffis commented on #51
@jedweb Are you, by chance, double- or triple-clicking to select? That doesn't work for me either. But if I do a simple drag to select, it works fine.

[2020-09-16 14:48] agriffis opened #60 "Firefox doesn't highlight if double-click or triple-click used for selection"
If I do a simple click-drag to select, then pressing ctrl-x works to highlight

If I double-click to select a word (or double-click-drag to select a region of words) or if I triple-click to select a paragraph (or triple-click-drag to select multiple paragraphs) then pressing ctrl-x does nothing

[2020-09-16 15:03] jdoree commented on #51
@agriffis ... it seems to be working now. I'm not sure what changed. I hadn't tried again since posting. I'm not sure if it's a Firefox update, a Roam Highlighter update, or gremlins, but all is well now.

Thanks for the response!

[2020-09-16 15:42] agriffis commented on #51
No problem, I'm just another user. Feel free to close the issue, though, I'm sure @GitMurf would appreciate it.

[2020-09-16 17:21] jdoree commented on #51
Good point. Will do.

[2020-09-16 23:06] GitMurf commented on #51
@jdoree @jedweb maybe you are the same person? Probably don't have permission to close it because logged in as a different user?

Sorry for missing this original post. Glad it's working now! Although I haven't made any updates in several months so it wasn't something I fixed to make it work again ;)

[2020-09-16 23:06] #51 closed

[2020-09-17 14:31] jedweb commented on #51
Thanks @GitMurf . All Good.

[2020-09-19 20:45] lwrogersjr opened #61 "Kindle Highlights button does not appear in Settings pane"
1. Browse to read.amazon.com.
2. Click "Show notes and marks" button in the Kindle web toolbar.
3. Kindle web page displays book highlights in a simulated modal dialog ([KindleWebReader.pdf](https://github.com/GitMurf/roam-highlighter/files/5250578/KindleWebReader.pdf)), unlike the way it appears in the Roam Highlighter demo.
4. Open Roam Highlighter Settings.
5. Kindle Highlights button does not

[2020-09-22 14:22] GitMurf opened #62 "Add link to bring back instructions / shortcut keys that loads at startup."
![image](https://user-images.githubusercontent.com/64155612/93895006-314a2400-fca4-11ea-996d-e43dc024559b.png)

Sometimes after you start highlighting you forget a hotkey and want to know what they are again without going to github page.

[2020-09-22 14:35] GitMurf commented on #61
From Ivo on Aug 19th
I don't see anymore the Kindle Highlight button

![image](https://user-images.githubusercontent.com/64155612/93896746-26908e80-fca6-11ea-8ee0-69cd96def936.png)

[2020-09-22 14:39] GitMurf commented on #61
@lwrogersjr it is kind of "touchy" but you need to go directly to https://read.amazon.com/notebook

An important note, which I think was potentially Ivo's issue, is that if you are not currently logged in to Amazon and it asks you to login when you go to https://read.amazon.com/notebook then it appears it takes you to a bit of a different URL which Roam highlighter does not recognize and therefore

[2020-09-22 14:46] GitMurf opened #63 "Need to recognize Kindle highlights URL that it takes you to after logging in."
This stemmed from Issue #61

If you are not currently logged in to Amazon and it asks you to login when you go to https://read.amazon.com/notebook then it appears it takes you to a bit of a different URL which Roam highlighter does not recognize and therefore doesn't show the Kindle extract options / buttons.

The solution is to simply click the link again in Roam Highlighter settings (once logged

[2020-09-22 14:47] GitMurf commented on #61
Just opened a new Issue #63 to account for the issue of Roam Highlighter not recognizing the link Amazon takes you to after initial login.

[2020-09-22 14:57] GitMurf opened #64 "New ideas for dynamic bullet nesting and formatting while highlighting"
- [ ] An integer counter that shows what "level" you are current nested at and increase/decrease indent buttons left or right to change the level.
  - Will then add nomenclature similar to the < h6 > that tells you which level of indent you are at.
  - Or maybe don't even need that nomenclature and just normal html / plain text spacing based on the counter "level"

- [ ] Similar to the above, have

[2020-09-22 15:22] GitMurf opened #65 "When tagging words for Roam page linking, if it ends in ) then it removes one of the double brackets."
Example site to use with this bug: https://searchvirtualdesktop.techtarget.com/definition/Remote-Desktop-Services-RDS

Example is: Remote Desktop Services (RDS)

If should be made to: [[Remote Desktop Services (RDS)]]

But instead it ends up like: [[Remote Desktop Services (RDS)]

It removes one of the square brackets at the end probably because of my logic I use in preventing issues with alias UR

[2020-09-22 16:08] GitMurf commented on #50
From Ivo on sept 17 2020:

just another observation: highlighter is not working in Vivaldi browser when in reader mode.

UPDATE on sept 22 2020:

And now a really big issue: Alt+X stopped working in Vivaldi.

[2020-09-23 12:03] lwrogersjr commented on #61
Yes, Kindle Highlights works great for https://read.amazon.com/notebook.

Thanks!

[2020-09-23 16:37] #61 closed

[2020-09-23 16:40] GitMurf commented on #57
@DRschulman am I seeing that correctly.... you are seeing that giant blue checkbox in the middle of the screen when you activate the highlighter?

can you please try activating the highlighter on my Github page at: https://github.com/GitMurf/roam-highlighter

I want to see if it has to do with your PixelBook Go or if it has to do with the website you were visiting because sometimes that happens if

[2020-09-23 16:42] GitMurf commented on #55
@ayrtonoropeza good idea and point of feedback. I have it on my list to do but I haven't been able to spend much time developing in the last couple months due to work being busy.

[2020-09-23 18:31] DRschulman commented on #57
Thanks GM - it must have been the website, as I can't replicate it. And, since it hasn't recurred, I had obviously forgotten about it until you responded. BTW - you may have gotten an influx of RH users since last Wed, as I sang it's praises on the "Believers" call. Bardia wasn't aware of it - but knew of you, and shared the link to the RH  extension with the crowd.

[2020-09-23 23:16] GitMurf commented on #57
@DRschulman thanks for the plug! I wish I had time these days to implement some of the enhancements I've had on my radar for a while now! But I have been pretty satisfied with it being in a pretty stable/reliable state outside of some of the corner cases issues that occasionally pop up.

There is another Roam Highlighter extension that is much prettier than mine by Daniel Wirtz. He may even be a B

[2020-09-24 02:01] DRschulman commented on #57
Now I'm really embarrassed. I just checked - I'm using Wirtz's, and that's
who I plugged at the believer's meeting. So sorry. That's why I couldn't
replicate the problem, I'm not using your extension. I had a lot of issues
with yours - couldn't adjust the settings, couldn't get it to work.
Switched to Wirtz's; no problems. Then I forgot about it. That's who Bardia
knew - he may know you too, but n

[2020-09-24 03:03] GitMurf commented on #57
Haha 😀 no worries at all!!

[2020-09-24 03:03] #57 closed

[2020-10-01 22:34] clement-moulin-frier commented on #61
Hi,

It seems there is an issue for non-US amazon accounts though. For instance in France, the URL is https://lire.amazon.fr/notebook ("lire" means "read", you get it)
I don't see the Kindle Highlights button, I guess that it is because that URL is not recognized.
Unfortunately I don't have access to my books if I log to read.amazon.com (probably to book copyright restrictions in other countries)

[2020-10-02 04:37] GitMurf opened #66 "Add “...” in front of highlight if In middle of sentence"
@abhayprasanna requested:

Advanced feature - if I were to begin a highlight in the middle of a sentence, so the first letter would be lowercase, it would be cool if it could add [...] or something like that to the beginning of the block to indicate it's an extract of a sentence.

[2020-10-02 04:38] GitMurf commented on #66
![image](https://user-images.githubusercontent.com/64155612/94888586-7998dd00-042e-11eb-945f-953608194c56.png)

![image](https://user-images.githubusercontent.com/64155612/94888596-7ef62780-042e-11eb-98e3-e99ac001ba3d.png)

[2020-10-02 04:45] GitMurf commented on #66
![image](https://user-images.githubusercontent.com/64155612/94888923-70f4d680-042f-11eb-9dcb-dda6731b61b1.png)

[2020-10-06 00:52] akicebear opened #67 "Different bullet style for Title line"
In the settings it is possible to set a custom bullet style. Could we please have a custom bullet style (or front matter) for the title?

What I’d like is for the title to be in a checkmark (- [ ]) and the highlights to be regular bullets (-). Thanks for considering this, awesome tool.

[2020-10-06 01:09] GitMurf commented on #67
@akicebear Interesting idea. So by title do you mean the line with the web address? So the top level parent of all the highlights?

[2020-10-06 01:10] GitMurf commented on #67
And what did you mean by "(or front matter)"?

[2020-10-06 06:06] akicebear commented on #67
Yes, so for example on this page, highlighting your comment, it would look like this:

- [ ] [Different bullet style for Title line · Issue #67 · GitMurf/roam-highlighter](https://github.com/GitMurf/roam-highlighter/issues/67)
    - Interesting idea. So by title do you mean the line with the web address? So the top level parent of all the highlights?

Sorry if using the term "front matter" was con

[2020-10-06 14:40] desk7 opened #68 "Add privacy policy to extension pages"
I know that code is available, but I think you should include the privacy policy to the extension pages.

[2020-10-07 18:36] kvistgaard opened #69 "Subscript creates new blocks"
Highlighting from [that article](https://www.novusbio.com/support/general-support/antibody-basics.html#:~:text=Antibodies recognize foreign invading microorganisms,that elicits an immune response.) this text:

Creates

[2020-10-09 07:46] kvistgaard opened #70 "HTML table -> Roam table"
It would be nice highlighting an HTML table reproduces it when pasting in Roam. Currently -- a single level of blocks.

[2020-10-12 05:39] noamsiegel opened #71 "Way to highlight just by dragging over words?"
Not an issue, but would be a lovely feature! Hitting "Command + X" is repetitive and redundant after a few hundred times. But all in all, a great extension, and am I am eagerly waiting to see where this goes.

[2020-10-15 19:11] mattwien opened #72 "Kindle Notebook page not recognized"
When I go to the settings page and klick on Kindle Notes & Highlights Amazon shows me my Highlights correctly.
But when I chose "get Kindle highlights" I get a messagebox telling me:
Not on kindle page. Go to: https://read.amazon.com/notebook

The page I'm on is https://read.amazon.com/notebook
Source of the issue might be that I'm on the German Amazon account, so maybe the code to recognize if I'

[2020-10-20 08:46] NullSense opened #73 "Markdown Links?"
Preface: I use Obsidian

Is it possible to make the new links in the traditional []() format instead of [[]]? (as an unrelated question, is it possible to add Zettelkasten type note title prefixes? (YYYYMMDD)

[2020-10-20 13:52] GitMurf commented on #73
I don't quite follow. Can you please provide examples of both?

[2020-10-22 00:18] GitMurf commented on #32
from Issue #38 on June 24th:

Hey man! Lovely plugin. Been using it with Obsidian for a while Now.

I use it to take notes off Wikipedia articles. It would be helpful if you could add the feature to turn off links. I would prefer not to have links in my note that arent added by me - I usually take notes off webpages and I will have to manually delete links from extracts - this takes a lot of time.

[2020-10-22 00:21] GitMurf commented on #32
from Issue #38 (Option to Hide links) on June 19th:

Your plugin is amazing!! Thank you sir/Madam

I've been using it a lot. however one thing that troubles me is that when I am using it to selectively read of Wikipedia, I end up lifting links that I do not want. And so I end up editing the copy pasted page to remove links.
If only there was a way to turn off this feature!

[2020-10-22 01:34] #32 closed

[2020-10-22 01:42] GitMurf commented on #32
@mrcasals finally got around to this! Chrome should approve and auto update the extension in the next day or two. Look for v1.9.8 and you'll know it is there :)

Please let me know if I hit the mark here or still not quite there? See GIF demo below.

![GSfeI4CxJ6](https://user-images.githubusercontent.com/64155612/96808164-28489180-13cd-11eb-93c3-af6ed1bc9b73.gif)

[2020-10-22 01:55] GitMurf commented on #50
From Issue #34 (Settings aren't saved)

OK, got it, my settings are saved.

On my monitor I cannot see the placeholders if I don't lean over the screen. And yes there is no difference between the placeholders and the inputted text. Inputted values are greyed out. And some of the inputs are buggy: see the attached screenshot, the height input value style suddenly appeared, the caret is white and I

[2020-10-22 01:57] GitMurf commented on #34
Combined into Issue #50

[2020-10-22 01:57] #34 closed

[2020-10-22 01:59] GitMurf commented on #72
Combining to other issue...

Duplicate of #63

[2020-10-22 01:59] #72 closed

[2020-10-22 02:00] GitMurf commented on #63
From #72

When I go to the settings page and klick on Kindle Notes & Highlights Amazon shows me my Highlights correctly.
But when I chose "get Kindle highlights" I get a messagebox telling me:
Not on kindle page. Go to: https://read.amazon.com/notebook

The page I'm on is https://read.amazon.com/notebook
Source of the issue might be that I'm on the German Amazon account, so maybe the code to recog

[2020-10-22 02:02] GitMurf commented on #63
From #61

It seems there is an issue for non-US amazon accounts though. For instance in France, the URL is https://lire.amazon.fr/notebook ("lire" means "read", you get it)
I don't see the Kindle Highlights button, I guess that it is because that URL is not recognized.
Unfortunately I don't have access to my books if I log to read.amazon.com (probably to book copyright restrictions in other countr

[2020-10-22 02:03] GitMurf commented on #61
@clement-moulin-frier I will be tracking this now in Issue #63 as others have reported similar issues.

[2020-10-22 02:44] GitMurf commented on #63
Click "Show notes and marks" button in the Kindle web toolbar.
Kindle web page displays book highlights in a simulated modal dialog (KindleWebReader.pdf), unlike the way it appears in the Roam Highlighter demo.
Open Roam Highlighter Settings.
Kindle Highlights button does not appear in the Settings pane (RoamHighlighterSettings.pdf).

If this issue occurs, it should be resolved by clicking the lin

[2020-10-22 02:46] GitMurf commented on #63
@lwrogersjr your issue from #61 should be completely resolved now. See above instructions if it happens again.

[2020-10-22 03:12] GitMurf commented on #63
@mattwien and @clement-moulin-frier

I have just made some tweaks to hopefully get closer to working for France / Germany. It may still not work YET, but at least it should give me the info I need to fix it completely. You should both be able to go to your respective read.amazon.com/notebook pages and select the button to extract the highlights. If you get a pop-up box with an error/warning, pleas

[2020-10-22 03:17] GitMurf commented on #45
Duplicate of #50

[2020-10-22 03:17] #45 closed

[2020-10-22 03:18] GitMurf commented on #50
From #45

https://roamresearch.slack.com/archives/G013D2T1SSG/p1594037382477200
https://www.theatlantic.com/politics/archive/2020/07/white-evangelicals-black-lives-matter/613738/

The Atlantic gives consistent line- or paragraph-breaks just before mid-sentence links:

![image](https://user-images.githubusercontent.com/64155612/96820285-829c1f00-13da-11eb-82b8-983416b3c200.png)

[2020-10-22 03:20] GitMurf commented on #48
Duplicate of #71

[2020-10-22 03:20] #48 closed

[2020-10-22 03:21] GitMurf commented on #71
Merged #48 to this issue

[2020-10-22 03:23] GitMurf commented on #20
Duplicate of #71

[2020-10-22 03:24] GitMurf commented on #20
Duplicate of #71

[2020-10-22 03:24] #20 closed

[2020-10-22 03:25] GitMurf commented on #71
Merged #20 to this issue:

Add setting / option to highlight by default and do NOT need ctrl+X

[2020-10-22 03:29] GitMurf commented on #73
@NullSense when you have a chance, can you please provide examples of both requests as I'm not completely sure on the request. Thanks!

[2020-10-22 03:59] #69 closed

[2020-10-22 04:05] GitMurf commented on #69
@kvistgaard finally got around to this! Chrome should approve and auto update the extension in the next day or two. Look for v1.9.8 and you'll know it is there :) Please confirm that the issue is resolved once you have a chance to test it. Thanks!

![i5iuOQ3bwP](https://user-images.githubusercontent.com/64155612/96823285-fe00cf00-13e0-11eb-9808-7203eea80e15.gif)

[2020-10-22 04:34] Murf commented on #45
wrong Murf again

On Thu, Oct 22, 2020 at 2:17 PM GitMurf <notifications@github.com> wrote:

[2020-10-22 05:44] GitMurf commented on #66
@abhayprasanna how did I do? :-) Is this what you envisioned? I need to clean up the format of the dropdown and how it fits in the window but wanted to confirm this is what you wanted before I push an update!

![fzBbt94sgx](https://user-images.githubusercontent.com/64155612/96829651-f0eadc80-13ee-11eb-9b68-acf480d57c0b.gif)

[2020-10-22 05:56] GitMurf commented on #60
I believe this is a issue of how Firefox selects text vs Chrome. So I don't know that I can fix it... but I will keep an eye on it to see if I can figure something out down the road.

[2020-10-22 05:57] GitMurf commented on #59
@pigpigfour can you please explain? Thanks.

[2020-10-22 06:01] GitMurf commented on #58
@jasonromney this is unfortunately an issue where Evernote "over rules" my highlighter as they have priority on the Clipboard events :-(

[2020-10-22 06:01] #58 closed

[2020-10-22 06:05] GitMurf commented on #56
@eatondpe sorry to hear that! Unfortunately I do not use Edge browser. It was much harder to build for all browsers but chrome/firefox seemed to be two the most similar and also the two most popular browsers. If you want to try Chrome browser you should not have those problems.

[2020-10-22 06:05] #56 closed

[2020-10-22 06:25] GitMurf commented on #53
@ccpalmer can you please provide a link? I would like to troubleshoot myself but need to be able to test the exact page. Thanks!

[2020-10-22 06:37] GitMurf commented on #53
@ccpalmer I was able to find the website via googling some of the text. I believe it is this one? https://qiskit.org/textbook/ch-states/representing-qubit-states.html

For your first issue, I am not having those problems. It copies as `<h2>` and `<h3>` as expected. I tried it two different ways of highlighting it as well. See GIF.

![oa1qgrPtgA](https://user-images.githubusercontent.com/64155612/9

[2020-10-22 06:55] GitMurf commented on #44
https://complexity.simplecast.com/episodes/30

Weird it is combining onto one line the `<p>` elements with `<a>` inside each under references.

![image](https://user-images.githubusercontent.com/64155612/96835656-bd14b480-13f8-11eb-9acf-d4e149579deb.png)

![image](https://user-images.githubusercontent.com/64155612/96835759-db7ab000-13f8-11eb-8be5-11a8577e28ee.png)

[2020-10-22 06:57] GitMurf commented on #66
Looks like some issues with the ... before and after following <A> links. See this website as example: https://complexity.simplecast.com/episodes/30 and Issue #44 for more details on it and test scenarios.

[2020-10-22 07:04] GitMurf commented on #40
As Abhay later suggested, there are plenty of tools out there that can do this and not worth the investment for Roam-highlighter.

[2020-10-22 07:04] #40 closed

[2020-10-22 07:05] pigpigfour commented on #59
Like if I want to catch the <iFrame> on Youtube used Highlighter

I found I wouldn’t copy the <iFrame> element text

[2020-10-22 07:13] GitMurf commented on #41
Roam-highlighter only has access to the "active Tab" which is by design. So this won't work.

[2020-10-22 07:13] #41 closed

[2020-10-22 07:15] #25 closed

[2020-10-22 07:16] #14 closed

[2020-10-22 07:17] GitMurf commented on #17
Roam-highlighter only has access to the "active Tab" which is by design. So this won't work.

[2020-10-22 07:17] #17 closed

[2020-10-22 07:18] GitMurf commented on #18
Did this in the natural evolution of the product.

[2020-10-22 07:18] #18 closed

[2020-10-22 07:18] #22 closed

[2020-10-22 07:20] GitMurf commented on #33
Potentially could achieve this by saving the state to the chrome settings like I do with the default format settings etc. Will look into this.

[2020-10-22 08:54] NullSense commented on #73
@GitMurf standard markdown links are formatted like: [description](url), this is already being done when linking to the article that's being snipped from, but say when you create a new link by double click, it's format is [[]]. Would it be possible to configure it to standard format?

Regarding zettel prefixes, for new notes zettel formats are: "YYYYMMDDHH note title" (or a variation of it). Howev

[2020-10-22 19:16] mattwien commented on #63
@GitMurf , thank you for the update. I'll check it as soon as the update is available and let you know of the results.
Also let me know if you need any further info e.g. about the page strucutre that we have here on the German Amazon accounts.

[2020-10-22 19:48] GitMurf commented on #63
@mattwien thanks actually if you could get me a screenshot showing the exact URL that German account leads to along with hovering over the tab to show what it uses as the page title. I may be able to fix things before this new release as opposed to just waiting for more info after the release ;-)

![image](https://user-images.githubusercontent.com/64155612/96921867-f33b4e00-1463-11eb-8176-23b136d8

[2020-10-23 05:03] #66 closed

[2020-10-23 05:06] GitMurf opened #74 "Hashtag # signs messing with link format for github Issues as I add backticks around them for Roam cleansing"
I am going to replace hashtags in markdown link names with No.

For example instead of `[Issue #67](www.abc.com)` I will change it to `[Issue No.67](www.abd.com)`

[2020-10-23 05:29] #74 closed

[2020-10-23 05:34] GitMurf opened #75 "Strikethrough <DEL> element issue"
Example is ~~removing this~~ text here.

It is going onto its own line. Need to handle just like I do with STRONG, EM etc.

[2020-10-23 05:46] GitMurf commented on #75
Fixed this issue but for now hardcoding the formatting for Strikethrough with `~~` when pasting into your Notes tool. Will add as item later in the settings to choose what you'd like for the characters although this is pretty standard for strikethrough.

[2020-10-23 05:47] GitMurf opened #76 "Add settings input box for strikethrough formatting ~~"
Fixed this issue but for now hardcoding the formatting for Strikethrough with `~~` when pasting into your Notes tool. Will add as item later in the settings to choose what you'd like for the characters although this is pretty standard for strikethrough.

_Originally posted by @GitMurf in https://github.com/GitMurf/roam-highlighter/issues/75#issuecomment-714927967_

[2020-10-23 06:12] GitMurf opened #77 "Add parsing for <strike>, <s>, and <ins> just like did for <del>"
Need to solve for the following:

I want to <strike>strike something</strike> with `<strike>`.
I want to <s>strike</s> with just `<s>`.
I want to <ins>add something</ins> with `<ins>`.

[2020-10-23 07:17] #75 closed

[2020-10-23 07:17] #77 closed

[2020-10-23 07:39] GitMurf commented on #44
@kvistgaard I figured it out. It was due to a different use case I fixed a few months ago for Wikipedia pages having links back to back in the same line. In this references page it happens to be because they are links back to back on each line and the entire line is a link, it matched the same criteria as Wikipedia. I should have it solved in a bit.

[2020-10-23 08:20] #44 closed

[2020-10-23 18:17] mattwien commented on #63
@GitMurf :
Thanks for the explanation. here the information you need:
Englisch Word Note is translated to Notiz (as you can read in the screenshots).

**Links:**
There are basically multiple possible links.
When I’m on the Kindle page and select the Notes I get to:
https://lesen.amazon.de/notebook?ref_=kcr_notebook_lib
but https://read.amazon.com/notebook?ref_=kcr_notebook_lib works as well.

**Pa

[2020-10-23 20:05] GitMurf commented on #63
@mattwien wow! thanks so much for the great info! It isn't often I can get folks to provide the level of detail to make my job easy ;-) Appreciate it! I will make some further changes before the new release that will give a better chance at success for us!

@mattwien Would you be interested in me showing you how to actually load my "DEV" version of the extension? That way you can test it out befor

[2020-10-24 03:42] GitMurf opened #78 "Side window UI / HTML element Format issues on certain websites"
https://www.infoq.com/news/2020/10/github-main-branch/

![image](https://user-images.githubusercontent.com/64155612/97067231-34208900-1570-11eb-8aa0-c82c10e83e9f.png)

[2020-10-24 03:43] GitMurf commented on #78
Maybe a better way to "unset" all important CSS? Or maybe I need to move where I add the element and put it somewhere that isn't effected by all the CSS as not inheriting from a bunch of elements / CSS rules above it? Need to research.

[2020-10-24 03:50] GitMurf commented on #78
Need to add !important to my "display" CSS styles as this site overruled it and had it hidden with an !important.

![IkS92bKRmP](https://user-images.githubusercontent.com/64155612/97067342-4949e780-1571-11eb-8bb6-2296e2f43cc6.gif)

[2020-10-24 06:38] kvistgaard commented on #69
I force-updated but it is still 1.9.7.2

[2020-10-24 12:29] mattwien commented on #63
Thank you @GitMurf for the feedback :)
Yes, would be interested to test the DEV version - would help us to accelerate the process for both of us ;-)

[2020-10-24 20:31] GitMurf commented on #69
@kvistgaard still finishing up the release. Will let you know when it is published. Thanks!

[2020-10-24 20:37] GitMurf commented on #78
Look at using iframe instead.

https://stackoverflow.com/questions/4172221/how-to-stop-injected-html-div-css-from-inheriting-styles-internet-explorer

[2020-10-24 20:40] GitMurf commented on #78
https://stackoverflow.com/questions/36645570/javascript-create-element-that-does-not-inherit-css

![image](https://user-images.githubusercontent.com/64155612/97093146-68428b00-15fe-11eb-99d0-7dc819b36b6c.png)

[2020-10-24 20:54] GitMurf commented on #78
Maybe avoid iframe. Look at this article about resetting css.

https://stackoverflow.com/questions/15901030/reset-remove-css-styles-for-element-only

[2020-10-24 23:07] GitMurf commented on #63
@mattwien ￼here are the steps:

1) download these files and put into a folder named DEV anywhere on your computer.

2) open up chrome and go to your extensions by entering this in browser URL: `chrome://extensions/`

3) in top right corner there should be a toggle for Developer Mode. Turn it on.

4) disable current roam-highlighter extension.

5) click the button in upper left that says "Load Unpa

[2020-10-25 00:22] GitMurf opened #79 "Custom top level bullet formatting for page title / URL"
https://forum.obsidian.md/t/web-clipper-highlighter-and-kindle-highlights-notes-extraction-extension/852/60?u=smurfman111

You can already change the bullet type/style in the settings. But you cannot for the title (link of the page). So what I’m hearing as the request would be  to have a setting where you could always add some text to the front of the Link (first bullet)? So you could add your tex

[2020-10-25 00:33] GitMurf commented on #79
Allow the user to save different custom options to select with drop down. Can chrome save arrays in the browser settings? Then they could quickly switch between different options they've saved in the past. And create one for like "article to read" with some tags. Another like "todo item" adding a checkbox at front. Another "video to watch" with its special tags.

If can save array then can have un

[2020-10-25 00:41] GitMurf commented on #67
Duplicate of #79

[2020-10-25 00:42] GitMurf commented on #67
Merging with #79

[2020-10-25 00:42] #67 closed

[2020-10-25 00:44] GitMurf commented on #79
From issue #67

![CE7DEBBE-A759-4E62-89CA-3BD082D5006D](https://user-images.githubusercontent.com/64155612/97096399-83be8d80-1620-11eb-8d68-1ed00e3f9d28.png)
![BDC08B7E-1655-4F37-8377-ADA9ECD34EA4](https://user-images.githubusercontent.com/64155612/97096400-85885100-1620-11eb-8344-9f4c1834d643.png)

[2020-10-25 01:29] GitMurf opened #80 "Kindle highlights and notes from personal documents"
I'm not sure details but don't want to forget about this.

From here: https://forum.obsidian.md/t/web-clipper-highlighter-and-kindle-highlights-notes-extraction-extension/852/43?u=smurfman111

"Just downloaded and started using - this is great, hank you so much!

On the Kindle side, I like that the option exists. Do you think you’ll be working on something starting from document clippings? The Kin

[2020-10-25 01:34] GitMurf commented on #55
@ayrtonoropeza sorry just getting around to development again on my highlighter. I saw your post in obsidian forums as I never got notified via email about new posts for some reason and now am going back through them all. I will keep you posted!

https://forum.obsidian.md/t/web-clipper-highlighter-and-kindle-highlights-notes-extraction-extension/852/44?u=smurfman111

[code]

[2020-10-25 13:19] mattwien commented on #63
I'm quite new to GIT but am able to clone, commit, pull and push in/to repositories 😀
Thanks for the explanation, I was able to install the DEV version and now I get the requried content as long as I'm on the English link / klick in the roam-highlighter on "kindle notes&highlights" button. If I'm on the german link it's not showing the relevant area to save capture the highlights yet - but that's

[2020-10-25 16:04] GitMurf opened #81 "Amazon Kindle enhancements"
Used for adding new ideas to enhance or bugs to fix.

[2020-10-25 16:04] GitMurf commented on #81
From Abhay via Slack.

- Add option for putting highlight color and location on same line.

![image](https://user-images.githubusercontent.com/64155612/97112311-d0e24400-16a0-11eb-84f9-3a87de57b628.jpeg)

- Is there a way to pull chapter info like in that screenshot?

[2020-10-25 16:56] GitMurf commented on #63
@mattwien ok I just made an update. Can you see if the German link works now? Thanks! If you cloned the Repo then simply PULL the update down. If you just downloaded the .zip previously you can simply download the updated `highlighter.js` file from here [(highlighter.js)](https://github.com/GitMurf/roam-highlighter/blob/master/dev/highlighter.js) and replace it in the DEV folder and then do the "L

[2020-10-25 19:33] mattwien commented on #63
Pulled the repo, resinstalled the extension in Chrome and voilá: It works.

Thanky you very much for the quick update!

[2020-10-25 20:05] GitMurf commented on #63
@mattwien Woot! Awesome. Thank you for working with me on this! :) So just to clarify, now it works for BOTH the US/English amazon link and the German amazon link? All the highlights and metadata is pulled fine for both?

[2020-10-25 20:06] GitMurf opened #82 "Testing out side window using iframe instead of appended HTML div"
Look at using iframe instead.

https://stackoverflow.com/questions/4172221/how-to-stop-injected-html-div-css-from-inheriting-styles-internet-explorer

For creating iframe:

https://stackoverflow.com/questions/10598345/insert-iframe-into-a-div-using-javascript-for-greasemonkey

https://stackoverflow.com/questions/10598345/insert-iframe-into-a-div-using-javascript-for-greasemonkey

_Originally poste

[2020-10-25 20:46] mattwien commented on #63
@GitMurf yes. All working find. I double checked some aspects, personal notes (I rarely use them on my Kindle - but do them directly in my notes system) are there, links, title, autor,... Looks very complete.
The only issue I have left is that I'm using a different system to handle my notes, and would like to have some slightly different formatting - but as it's also using markdown I'm very happy

[2020-10-25 21:45] GitMurf opened #83 "Non markdown links should be included as normal even when turning links off."
When using setting to remove links, if it is not a markdown link (e.g., www.espn.com and NOT [ESPN](www.espn.com)) then don't put the link in italics... just do as normal.

Test here: https://github.com/GitMurf/roam-highlighter/issues/82

[2020-10-25 21:45] GitMurf commented on #32
Added new issue #83 as follow-up to fixing this.

[2020-10-25 22:44] #82 closed

[2020-10-26 07:23] #83 closed

[2020-10-26 07:25] GitMurf commented on #78
Fixed this with Issue #82 as now using iframe so html css issues are no longer present.

[2020-10-26 07:25] #78 closed

[2020-10-26 07:30] GitMurf commented on #73
@NullSense so are you saying if you have "A sentence I am highlighting..." and you want to double click to create a page for "sentence" you'd want it to be when pasting into Obsidian "A [sentence]([[sentence]]) I am highlighting..."? The point of the double click is to put it into the format that would create a new page/backlink in Obsidian / Roam. I am not quite following how your request would w

[2020-10-26 19:41] GitMurf opened #84 "When turning links off, auto recognize Slack usernames from posts and nest highlight under that username."
![image](https://user-images.githubusercontent.com/64155612/97230651-8bed0900-1797-11eb-8ec4-3f325e9fabda.png)

[2020-10-26 20:46] GitMurf opened #85 "Two @name links in a row in Slack chat moving to next line"
![image](https://user-images.githubusercontent.com/64155612/97226704-986e6300-1791-11eb-8ae8-4ab500bfa233.png)

[2020-10-26 20:52] GitMurf commented on #85
Check out double links here: https://en.wikipedia.org/wiki/Illacme_plenipes

It works fine with back to back links in wikipedia so this is something specific to Slack.

[2020-10-26 20:56] GitMurf opened #86 "When <a> link href is same as innerText (aka no alias) then just extract href instead of adding markdown format []()"
Use this as an example: https://en.wikipedia.org/wiki/Illacme_plenipes with blah blah.

[2020-10-26 21:18] GitMurf opened #87 "When making something a Roam page link, remove formatting around it like italics, bold etc."
- [x] Check in the `<A>` element link section when removing links and replacing with italics.
- [x] Check in the convertFormat function
- [x] Check in the section where it adds page brackets because set as "blue" page/reg

![image](https://user-images.githubusercontent.com/64155612/97229702-0026ad00-1796-11eb-83f2-575d6a497429.png)

[2020-10-26 21:19] GitMurf opened #88 "When highlighting Slack message with username, have option to always link the username as Page/Tag"
![image](https://user-images.githubusercontent.com/64155612/97229844-33693c00-1796-11eb-8a19-b73c24113ac5.png)

[2020-10-26 21:24] GitMurf opened #89 "To avoid always creating checkboxes/dropdowns etc., add setting text box where you can enter config options"
Especially good for testing or getting new features out there. Have option for user to enter certain parameters/config as additional custom settings.

To avoid taking up much room in settings DIV, have it as small text box or textarea and when user clicks in to input, then it expands. Or maybe even just have a "Config" button that when you click it a config textarea opens up.

[2020-10-26 21:26] GitMurf commented on #89
Create an Issue to track new features/options/ideas for additional features to add that use the Config parameters.

[2020-10-26 21:27] GitMurf opened #90 "Track new features/options/ideas to add that use the custom Config parameters."
Create an Issue to track new features/options/ideas for additional features to add that use the Config parameters.

_Originally posted by @GitMurf in https://github.com/GitMurf/roam-highlighter/issues/89#issuecomment-716833232_

[2020-10-26 21:31] GitMurf commented on #90
#88 may be a good one for this.

[2020-10-26 21:37] GitMurf opened #91 "Don't add code backticks around hashtag if it is in a link"
https://roamresearch.slack.com/archives/C01C8RNTM9T/p1603746613104800?thread_ts=1603694380.082300&cid=C01C8RNTM9T

cheers! I've added this theme in the onboarding Roam Portal site (which opens when this extension is installed for the first time): https://roamresearch.com/#/app/Roam-Portal/page/Z8gFjPFuh

Don't add code backticks around hashtag if it is in a link. Make sure this is accounted for wh

[2020-10-27 00:32] GitMurf opened #92 "Parse out unwanted stuff from Slack message threads so can copy a conversation"
https://roamresearch.slack.com/archives/CN5MK4D2M/p1603460996089700?thread_ts=1603458996.089100&cid=CN5MK4D2M

![image](https://user-images.githubusercontent.com/64155612/97242397-04ac8f00-17b1-11eb-8d67-f826546c8189.png)

[2020-10-27 00:36] GitMurf commented on #92
Also need to parse out when a message is edited it shows `edited` at end of line.

![image](https://user-images.githubusercontent.com/64155612/97242663-b64bc000-17b1-11eb-9b04-6da56cd1ed6f.png)

[2020-10-27 00:37] #84 closed

[2020-10-27 02:13] GitMurf opened #93 "Need RH to recognize when in iframe to properly extract the elements/highlights"
If text you want to highlight is in an iframe, RH will not pick it up. Likely because it is interacting with the main document as opposed to the iframe document when manipulating elements.

Here is an example. The comments at the bottom are in an iframe that cannot highlight.

https://www.tjvantoll.com/2013/03/14/better-ways-of-comparing-a-javascript-string-to-multiple-values/

[2020-10-27 04:24] #92 closed

[2020-10-27 06:30] GitMurf commented on #88
Probably not though because Slack usernames can be too ambiguous like "Mark" so then in Graph it will get confusing.

[2020-10-27 06:54] #85 closed

[2020-10-27 06:58] #91 closed

[2020-10-27 07:44] #87 closed

[2020-10-27 07:57] #86 closed

[2020-10-27 08:12] #35 closed

[2020-10-27 08:16] GitMurf commented on #39
Duplicate of #79

[2020-10-27 08:16] #39 closed

[2020-10-27 08:17] GitMurf commented on #79
Merged similar #39

[2020-10-27 17:17] GitMurf commented on #93
https://docs.flexera.com/FlexNetManagerSuite2020R1/EN/GatherFNInv/index.html#SysRef/FlexNetInventoryAgent/topics/PMD-DownloadSettings.html

Another example.

[2020-10-27 22:23] GitMurf commented on #79
Confirmed you can save arrays to chrome.storage.local! This is good news.

[2020-10-27 22:43] GitMurf commented on #79
Add ability to customize date and time formatting in Parent Title. For this original issue just will use standard default date and time format.

[2020-10-27 22:44] GitMurf opened #94 "Add ability to customize date and time formatting in Parent Title"
Add ability to customize date and time formatting in Parent Title. For this original issue just will use standard default date and time format.

_Originally posted by @GitMurf in https://github.com/GitMurf/roam-highlighter/issues/79#issuecomment-717583741_

[2020-10-27 22:47] GitMurf commented on #94
This is the best resource to use for date formatting: [Everything You Need to Know About Date in JavaScript | CSS-Tricks](https://css-tricks.com/everything-you-need-to-know-about-date-in-javascript/) #[[Roam-Highlights]]

Thinking something like `{%date@MM-DD-YYYY%}` and `{%time@HH:mm%}` where @ separates the custom format the user wants and RH needs to parse the type of format it gives.

MM = 2 d

[2020-10-27 23:54] GitMurf commented on #79
Remove the truncate field as can just add as another parameter option. Something like {%title@-%} would truncate page title at a dash "-"

[2020-10-27 23:55] GitMurf opened #95 "Remove the truncate field as can just add as another parameter to Parent Title logic"
Remove the truncate field as can just add as another parameter option. Something like {%title@-%} would truncate page title at a dash "-"

_Originally posted by @GitMurf in https://github.com/GitMurf/roam-highlighter/issues/79#issuecomment-717608496_

[2020-10-28 01:25] GitMurf opened #96 "When triple clicking on last line/paragraph on Github issue it selects a bit of overflow causing failure/error"
![tRnA2kOwFO-output](https://user-images.githubusercontent.com/64155612/97379300-bd420380-1881-11eb-9673-9c9bd1cfab04.gif)

[2020-10-28 02:06] #95 closed

[2020-10-28 08:38] GitMurf commented on #94
Also then allow for creating in Roam page linking format.

[2020-10-28 23:07] #94 closed

[2020-10-29 04:40] #96 closed

[2020-10-29 05:02] #79 closed

[2020-10-29 07:10] GitMurf opened #97 "Auto HL doesn't allow for multi word selection to turn "blue" for Roam page linking"
This is because by selecting text that is already highlighted it will remove the highlight instead. Look at maybe checking if already highlighted on selection and then preventing it from doing anything (to stop from removing highlight). Ctrl + Click would still remove highlights so this should be fine.

[2020-10-29 07:23] #97 closed

[2020-10-29 07:37] #71 closed

[2020-10-29 07:45] GitMurf opened #98 "v2.0 Release"

[2020-10-29 07:51] GitMurf commented on #71
![aJLwEFtall](https://user-images.githubusercontent.com/64155612/97540472-ea291000-1980-11eb-9cc7-a7e0b96376c0.gif)

[2020-10-29 07:53] GitMurf commented on #94
![6IONSo29ED](https://user-images.githubusercontent.com/64155612/97540589-147acd80-1981-11eb-84b6-50048c970c9a.gif)

[2020-10-29 07:54] GitMurf commented on #79
![u5it9XLGAa](https://user-images.githubusercontent.com/64155612/97540711-44c26c00-1981-11eb-8f84-061b5b0d1d0f.gif)

[2020-10-29 08:18] GitMurf commented on #98
- [ ] Update highlighter.js for PROD to match DEV
- [ ] Update manifest.json
  - Really just need to change the version typically
  - Do NOT copy from the DEV version because it has different shortcuts
- [ ] Zip up all files that are in the "extension" folder
- [ ] Name it roam-highlighter-2.x.zip
- [ ] Create a folder for v2.x in the PUBLISHED TO STORE folder
- [ ] Put the zip file, as well as al

[2020-10-29 08:41] GitMurf opened #99 "When auto highlighter is turned on, have it deactivated when you hide the window"
- __Abhay Prasanna__
    - I think it's breaking when images are involved.
    - Oh I just realized the highlighter remains on even when I hide the pop-up.
    - That I would prefer not to happen.
- __Murf__
    - yeah I mean that is the way it has always worked. You can hide the pop up but it is active until you refresh the page or go to a new site.
    - But before you had to press Ctrl + X to h

[2020-10-29 08:46] GitMurf opened #100 "Triple click isn't working in Slack with auto HL"

[2020-10-29 09:06] #99 closed

[2020-10-29 19:32] GitMurf opened #101 "Slack issue in "classic" "clean" view where shows user images next to messages"
Won't highlight when you end your selection over the user image/icon.

![ffs3Pn0rcw](https://user-images.githubusercontent.com/64155612/97623335-bbdc1c80-19e2-11eb-9658-81cded01fbf2.gif)

[2020-10-29 19:32] GitMurf commented on #101
It works when starting from before the image... but not highlighting "backwards" and ending hovering over the image.

[2020-10-29 19:38] GitMurf opened #102 "Custom mouse cursor icon when in Auto Highlight mode"
- __Abhay Prasanna__
    - (the auto highlighter)
    - I think keep it on! I think it will force people to figure out what is happening if they are used to having to press Ctrl-X
    - I think people will be delighted.
    - What does it take to change the cursor to look like a highlighter when that is active
- __Murf__
    - haha good idea on cursor... i'd have to look it into for a custom graph

[2020-10-30 06:03] #101 closed

[2020-10-30 06:26] GitMurf commented on #80
https://forum.obsidian.md/t/web-clipper-highlighter-and-kindle-highlights-notes-extraction-extension/852/63
__lexane__
    - Hi! Also late to the party It’s all in the “My Clippings” file on the Kindle as far as I know

Lexane responded but with not much detail. I am going to de-prioritize as I'm not really sure what the specific ask is.

[2020-10-30 06:28] GitMurf commented on #32
@mrcasals update is out! Check it out and let me know if I hit the mark? Thanks!

[2020-10-30 06:28] GitMurf commented on #38
@K-293 update is out! Check it out and let me know if I hit the mark? Thanks!

[2020-10-30 06:31] GitMurf commented on #71
@noamsiegel it has been implemented! Please check out the new update and let me know what you think? Thanks!

[2020-10-30 06:31] GitMurf commented on #48
@david-ps it has been implemented! Please check out the new update and let me know what you think? Thanks!

[2020-10-30 17:26] GitMurf opened #103 "Add domains to a list that will auto start RH when visiting those sites"
[Slack | Dharam | Roam | 1 new item](https://app.slack.com/client/TNEAEL9QW/D01DM3AQT36)

__Dharam__

Is there a way, that for some websites i can have this pop-up shown be default (without the need to trigger it myself)?

because when I'm on Medium, or news websites, I would just like to have this shown by default

__Murf__

Great idea! I’ll put it on my list. Basically allow user to enter a list

[2020-10-30 18:37] noamsiegel commented on #71
@GitMurf it works perfectly. Thank you for all the work!

[2020-11-01 05:55] #100 closed

[2020-11-01 05:56] #98 closed

[2020-11-01 09:39] #46 closed

[2020-11-01 19:15] GitMurf opened #104 "Bullet character showing up in a bulleted list"
https://ifttt.com/explore/pro_new_features

IMAGE HERE

[2020-11-01 19:41] GitMurf opened #105 "Test this... will delete"
This is a test.

[2020-11-01 19:45] GitMurf opened #106 "Test2 here"
Some stuff!

[2020-11-01 22:20] GitMurf opened #107 "Bug with new indent logic nesting indents in Slack chat highlights"
See screenshot. Because used to use the H6 logic on it adding H6 at beginning of each username.

[2020-11-01 22:32] #107 closed

[2020-11-01 22:43] GitMurf opened #108 "When dashes ("-") are in text to represent bullets in the webpage, remove them"
This comes up in Slack alot because of their crappy formatting options for bullets. A user makes their own "bullets" by just starting with a "- " dash + space. RH needs to recognize that and:

1. Remove the dash
2. Potentially look at then indenting as it likely represents a bulleted list that should be indented. Make sure not already in an UL/LI.

![image](https://user-images.githubusercontent.co

[2020-11-01 23:09] GitMurf opened #109 "Indent logic when selecting multiple lines in same highlight"
The logic only applies to the first line of the multi line highlight so that it doesn't double/triple indent. Same with the Green de-indent. But the problem is if I want to end the indent as the last of the multi line, it isn't applied to the last line. So I have to unselect the highlight and then have the last line selected alone.

Potential partial fix is to update logic to only include on the l

[2020-11-01 23:15] GitMurf opened #110 "Indent bug when a header comes after a manual indent / de-indent"
Need to fix logic where header gets reset to root level 0 if previously just did a "de-indent".

![x4CfwmhUWF](https://user-images.githubusercontent.com/64155612/97818054-ff3dc180-1c54-11eb-91d9-177f00a725a5.gif)

[2020-11-02 01:47] GitMurf opened #111 "EM italics parent of a parent SPAN going on next line"
https://help.ifttt.com/hc/en-us/articles/360052451954-Building-with-filter-code#RunningAppletsonlyduringcertaintimes

![image](https://user-images.githubusercontent.com/64155612/97822299-471b1380-1c6a-11eb-9576-a51b87a5b425.png)

![image](https://user-images.githubusercontent.com/64155612/97822252-189d3880-1c6a-11eb-8380-b6752b91c3c4.png)

[2020-11-02 04:57] GitMurf opened #112 "Emoji at end of Slack message lines creating issue"
![image](https://user-images.githubusercontent.com/64155612/97835085-35e3fe00-1c8e-11eb-8b0e-6e953a01cdec.png)

[2020-11-04 15:22] kvistgaard opened #113 "Broken timestamp brackets and no nesting when highlighting on Telegram web"
Now:

At least [] should not be broken, at best timestamp and massage should be nested blocks of TelegramUser.

[2020-11-04 16:54] GitMurf commented on #113
@kvistgaard would it be acceptable to have it work like I have Slack working now where the username is main bullet and then the message is nested under it but do NOT include the date/time at all? Because the date/time are their own separate elements and structured in weird spots so it is easiest just to filter/ignore them which will fix the issues you posted above. Let me know! Thanks.

[2020-11-04 16:54] GitMurf commented on #113
![image](https://user-images.githubusercontent.com/64155612/98141304-52915900-1e7b-11eb-8d3c-3e45697e42f1.png)

[2020-11-04 17:01] kvistgaard commented on #113
Yes

On Wed, 4 Nov 2020 at 17:54, GitMurf <notifications@github.com> wrote:

--

Kind regards,

Ivo Velitchkov, PhD

Phone:+32.491.258.813
Blog: strategic structures <http://www.strategicstructures.com/>
Book: essential balances <http://essentialbalances.com>
Twitter: kvistgaard <https://twitter.com/kvistgaard>
LinkedIn: velitchkov <https://be.linkedin.com/in/velitchkov>

[2020-11-07 22:40] mbtrillions opened #114 "Customizing text at top (beyond Parent Title)"
There are times when I am pulling highlights when I want to add a series of tags and metadata to the top of my highlights (while I can copy it in within roam, it would be nice to be able to save this as sometimes I want to repeat the structure for multiple articles I am highlighting).  I tried simply adding tags in the "Parent Title for Highlights" box, but seems like it may not handle line breaks

[2020-11-08 01:10] GitMurf commented on #114
@mbtrillions did you make sure to click the "Add" button and give it a name (see GIF below)? If you do you can always switch to that tag structure in the future. It will be available for any website at any time. Even when you close and re-open your browser.

![0eWDVfYGxH](https://user-images.githubusercontent.com/64155612/98454655-f8fb8980-211b-11eb-8e2b-0c638bc9106b.gif)

[2020-11-08 01:11] GitMurf commented on #114
I am getting the impression though that this may not be your question/issue though? Could you maybe explain a little more what you are trying to do and take a screenshot showing me what it looks like? Thanks!

[2020-11-08 01:59] mbtrillions commented on #114
I was indeed trying to create a new "Parent Title" format, but it wasn't
showing up when I actually tried to highlight the page I was working on.
Now when I tried again, it worked! I added multiple line breaks, added them
with and without sub-bullets, and it all worked out.  So perhaps I
inadvertently did something else that activated a bug or some other issue,
but I was not able to replicate my e

[2020-11-08 02:24] GitMurf commented on #114
@mbtrillions oh great to hear! And I learned something actually! I didn't realize that my highlighter works with line breaks in the page title :-)

[2020-11-08 02:25] GitMurf commented on #114
Closing issue as @mbtrillions said things are working as expected now.

[2020-11-08 02:25] #114 closed

[2020-11-08 20:06] mattwien commented on #80
Hi @GitMurf,

Maybe some additional information about this (even though I'm not looking for the solution, just want to provide you some details.

If you have books or PDFs on your Kindle that are not bought from Amazon, you won't find the highlights on the Amazon notebook page. In this case all the highlights are stored in a local file on the Kindle called "My Clippings.txt".

It's a very simple t

[2020-11-09 15:51] mbtrillions opened #115 "Unexpected change to lowercase in text inputted in "Parent Title for Highlights""
This has not been happening consistently, but on occasion, part (but not all!) the text within "Parent Title for Highlights" is getting changed to lowercase

See screenshot for how text "Key takeaways" and "Source URL" are being rendered
![image](https://user-images.githubusercontent.com/64840939/98563607-5e18c180-2279-11eb-8f3e-3a342ea83a55.png)

[2020-11-09 15:58] mbtrillions commented on #115
The prob

[2020-11-09 15:59] mbtrillions commented on #115
The bug was with the user!  Realized that I had not added "%}" in the prior line, so that was creating the issue with the rendering

[2020-11-09 15:59] #115 closed

[2020-11-17 21:20] Air-Craft opened #116 "Firefox (v82.0.3) not copying highlights to clipboard..."
The highlighter works and the page title/link copies but none of the highlights do.  Am I missing something?

[2020-11-24 09:35] GitMurf commented on #113
@kvistgaard - Ok how does this look?

![DobpYzdzgW](https://user-images.githubusercontent.com/64155612/100075791-4272f680-2df5-11eb-8596-59715606de1d.gif)

[2020-11-24 09:43] GitMurf commented on #113
Here is how it pastes into Roam. The blue is my custom css for italics. So it makes the username italics and nests their messages under them.

![image](https://user-images.githubusercontent.com/64155612/100076796-726ec980-2df6-11eb-9493-663d967c523b.png)

[2020-11-24 19:19] kvistgaard commented on #113
Awesome!

On Tue, 24 Nov 2020, 10:43 GitMurf, <notifications@github.com> wrote:

[2020-12-03 21:53] GitMurf opened #117 "Slack conversation (edited) block seems to bring the next reply/post username onto the same block"
Happens not only on Edited blocks but I think several scenarios where maybe it ends with a ) or other character and/or emoji or other ELEMENT type. Not exactly sure of all the use cases but can test on big threads and should see.

![DBt6tVGj0z](https://user-images.githubusercontent.com/64155612/101092558-b4260f80-356e-11eb-8fdc-d38ccc7891b4.gif)

[2020-12-03 21:55] GitMurf commented on #112
Merging with #117 as similar issue. This shows example where EMOJI at end creates the issue.

[2020-12-03 21:55] #112 closed

[2020-12-06 20:51] GitMurf opened #118 "Add a button to re-copy the current highlights to the clipboard"
Add a button to re-copy the current highlights to clipboard

![](https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2Fsamdynamics%2FoqDitjrQEU.png?alt=media&token=34148e04-0d22-4dc9-8f39-93b6d545dfe4)

[2020-12-06 21:41] kvistgaard commented on #113
...and it is [[user]] instead of [user], in cases where the name is exactly the same, this can bring additional benefit.

[2020-12-15 16:38] JonathanTR opened #119 "Add token to grab document author"
This extension is awesome! I've already used it a ton for getting notes into my Obsidian knowledge base. The ability to customize your own templates is super helpful. One feature I would love to see is the ability to grab the document author if present on the page's metadata. It's fairly easy to grab:

[code]

It would rule to be able to add `{%author%}` to my templates. I'd love to open a PR. I'v

[2020-12-19 10:23] kvistgaard opened #120 "Transfer block quotes as such"
Now as Roam respects `>` markdown for quotes, I hope it won't be difficult to implement it when highlighting.

This
![image](https://user-images.githubusercontent.com/7572721/102686966-b84b6180-41eb-11eb-8778-b3a54a2a7d70.png)

in a perfect world, this should appear as

![image](https://user-images.githubusercontent.com/7572721/102686994-f052a480-41eb-11eb-8ceb-b6de84ee85d0.png)

but of course, th

[2021-01-20 19:17] bbhart opened #121 "Highlighting doesn't seem to work on plaintext page"
See [this page](https://handshake.org/files/handshake.txt) as an example. Using Windows and Brave 1.19.86. Alt-X opens the tool, and Ctrl-X highlights the selection, but nothing is copied into the box. Highlighting works fine if I try another page.

[2021-01-27 08:05] QueensDeeJay opened #122 "Tags are mentioned but..."
This is more a request for clarification than an issue, per se:

                           Tags are mentioned (on GitMurf/roam-highlighter), but
                           I'm not finding either instructions or a demo of their use with
                           roam-highlighter.
Please advise.  Using tags with roam-highlighter would Grreaaaaaaat!

I really love the functionality roam-highlighter

[2021-02-01 15:44] akicebear opened #123 "Title line as header, instead of bullet"
I'd like to define a custom bullet style for the first line, similar to how I can define bullets in general. My goal (in Obsidian) is to have the first line as a H3 (for example) with normal bullets underneath it.

Example:
### [Title](Link)
- Bullet 1
- Bullet 2

[2021-02-07 08:25] DmitriR commented on #123
... including just text (i.e. not a heading) as an option would be great.

[2021-02-07 08:31] DmitriR opened #125 "Passing through subscript and superscript (sub, sup) tags"
`<sub>...</sub>` and `<sup>...</sup>` should be passed through to Markdown.

[2021-02-07 09:12] DmitriR opened #126 "Pass through common academic publication metadata as tokens"
... at least the citation_* namespace; possibly others as well, prism in particular.

Simply passing them through will be excellent.

No need to integrate / coerce into a single namespace, **except** that the two de-facto universal IDs: DOI and PMID (PubMed ID); these probably deserve their own standard tokens, regardless of how they are represented on the page.

The utility: the header / title li

[2021-02-11 02:41] YiFan-Ou opened #127 "roam-highlighter and obsidian"

[2021-02-11 02:47] YiFan-Ou commented on #127
when i use roam-highlighter for obsidian,i meet some problem.
Different format
when i copy ctrl+V in obsidian , it's diffierent from what i see in the web .
![image](https://user-images.githubusercontent.com/70421213/107597731-7de3cb00-6c56-11eb-8cf3-69c546ea9e2d.png)

[2021-02-11 11:05] YiFan-Ou opened #128 "Another way to record titles in plain text"
![image](https://user-images.githubusercontent.com/70421213/107628310-6da20f00-6c9b-11eb-8641-abbd5720ed13.png)

i meet some problem when i copy the plain text to obsidian.  But i can solve it by replace <h1> with \#
so i want to know whether it is possible to develop a  option to represent the title.
and we can chose the our own way to record the titles

[2021-02-16 02:05] wjfeeney opened #129 "line space at punctuation marks"
using macOS, but copying highlighted text renders line spaces at punctuation marks, and line spaces appears after pasting...wastes time reformatting it.

[2021-02-19 07:54] GitMurf commented on #129
@wjfeeney can you please provide screenshot(s) and/or record a quick video demonstrating what you mean? Thanks!

[2021-02-19 07:56] GitMurf commented on #119
@JonathanTR thank you for the code above. I actually have several requests on getting more metadata from pages.... myself included! I am going to merge the other similar issues together.

[2021-02-19 08:01] GitMurf commented on #119
@JonathanTR btw, funny you provided the code for me, I have actually been playing around with the idea that you can define your own elements to go after. So for example, instead of {%author%} you could put like {%meta[name="author"]%} or in alot of other examples a classname or ID represents stuff people want so could do {%id=AuthorName%} or {%class=author%}. Still half baked idea so don't count o

[2021-02-19 08:16] GitMurf commented on #126
@DmitriR I am merging this with another issue opened similar to this. I put a few ideas I'm working on in it.

[2021-02-19 08:18] GitMurf commented on #126
Duplicate of #119

[2021-02-19 08:18] #126 closed

[2021-02-19 08:19] GitMurf commented on #119
Here is what was from the other similar issue by @DmitriR:

... at least the citation_* namespace; possibly others as well, prism in particular.

Simply passing them through will be excellent.

No need to integrate / coerce into a single namespace, **except** that the two de-facto universal IDs: DOI and PMID (PubMed ID); these probably deserve their own standard tokens, regardless of how they are

[2021-02-19 08:20] GitMurf commented on #119
@DmitriR can you please provide a couple example pages / articles / websites where there is specific metadata you want? I can then use them as test cases for when I develop this feature. Thanks!

[2021-02-19 08:23] GitMurf commented on #128
@YiFan-Ou can you please clarify? Are you saying you do NOT want headers for example brought into obsidian during copy/paste? Can you record a short video showing what happens and then what you have to manually do to fix to get what you want? Thanks!

[2021-02-19 08:24] GitMurf commented on #125
@DmitriR can you please provide an example page/article/website so I can test on? Thanks!

[2021-02-19 08:25] GitMurf commented on #123
Similar to #128

[2021-02-19 08:28] GitMurf commented on #122
@QueensDeeJay do you mean if you highlight something like:

`I want to highlight this sentence.`

And you want the word "highlight" to be a page/tag reference in Roam?

So you want this?

`I want to [[highlight]] this sentence.`

Do I understand you correctly? If not, could you provide more clarity and/or a screenshot of what you want exactly? Thanks!

[2021-02-19 08:30] GitMurf commented on #121
@bbhart very interesting! I've never tried on plain text like that before. Not a huge use case out there but I definitely will try to fix it in the next month or two.

[2021-02-19 08:34] GitMurf commented on #120
I think this is doable... here is what I see in background so if we find blockquote can add the [[>]] in front of it which creates it as a quote in roam and also a page ref to see all your quotes. I will probably make it a text box you can customize. Probably use `>` by default as that is pretty common.

![image](https://user-images.githubusercontent.com/64155612/108479195-470b4780-724a-11eb-8661-

[2021-02-19 08:35] GitMurf commented on #120
Also will add the ability to do some sort of shortcut or click of some sort that allows you to tell any highlight to become a block quote.

[2021-02-19 08:37] GitMurf commented on #116
@Air-Craft sorry this took so long. Can you provide an example website / page / article you have tried where it wasn't working? Thanks!

[2021-02-19 11:18] kvistgaard commented on #120
Roam MD requires space after `>`

[2021-02-19 16:06] YiFan-Ou commented on #127
In obsidian, if I used <h1><h2 > represent my header, the text below might not be displayed correctly.But when I use # for the header, Obsidina works just fine. So, I am wondering if you could improve this plugin again for us.Whenever I copy the content on the page (if the content has a header), the header will be sandwiched between two #'s or just a # before the header.
Like this  # How to use hi

[2021-02-19 16:14] YiFan-Ou commented on #127
In obsidian, if I used < h1 > < h2  > represent my header , the text below might not be displayed correctly.But when I use # for the header , Obsidina works just fine.
So, I was wondering if you could improve this plugin again for us.Whenever I copy the content on the page (if the content has a header), the header will be sandwiched between two #'s or just a # before the title.
it will help a lot

[2021-02-19 16:19] YiFan-Ou commented on #127
Uploading 2021-02-19 23-47-02.mp4…

[2021-02-19 16:19] YiFan-Ou commented on #127
https://user-images.githubusercontent.com/70421213/108531073-3ffb3c80-7311-11eb-940f-3a6566837774.mp4

[2021-02-19 16:21] YiFan-Ou commented on #128
In obsidian, if I used < h1 > < h2 > represent my header , the text below might not be displayed correctly.But when I use # for the header , Obsidina works just fine.
So, I was wondering if you could improve this plugin again for us.Whenever I copy the content on the page (if the content has a header), the header will be sandwiched between two #'s or just a # before the title.
it will help a lot o

[2021-02-19 16:22] YiFan-Ou commented on #128
Uploading 2021-02-19 23-47-02.mp4…

[2021-02-19 16:22] YiFan-Ou commented on #128
Uploading 2021-02-19 23-47-02.mp4…

[2021-02-19 16:22] YiFan-Ou commented on #128
https://user-images.githubusercontent.com/70421213/108531484-b13aef80-7311-11eb-88fa-29c61cdb4813.mp4

[2021-02-19 16:24] YiFan-Ou commented on #127
I'm sorry, but I've solved the problem now.I'm not very familiar with Obsidina.Because I pasted it the wrong way, it didn't work well on Obsidian.All these problems are caused by my inproficiency in Obsidian.

[2021-02-19 16:26] YiFan-Ou commented on #127
But my other problem remains unresolved. #128

[2021-02-20 16:18] QueensDeeJay commented on #122
Actually, I was thinking more along the lines of something like this:
- I want to review this highlighted block tomorrow #tomorrow.

where I'm inserting "#tomorrow" as a tag after the highlighted block.

[2021-02-20 18:41] QueensDeeJay commented on #122
Actually, I was thinking more along the lines of something like this:

   - I want to review this highlighted block tomorrow #tomorrow.

where I'm inserting "#tomorrow" as a tag after the highlighted block.

On Fri, Feb 19, 2021 at 3:28 AM GitMurf <notifications@github.com> wrote:

[2021-02-23 12:25] kvistgaard opened #130 "Numberings go into separate blocks"
This happens with W3C spec, which to my knowledge are one of the best-formated HTML documents.

Here's an example:

[SHACL Test Suite and Implementation Report](https://w3c.github.io/data-shapes/data-shapes-test-suite/)

    - <h2>Implementation Reports</h2>
        - This section summarizes the outcomes of test reports for submitted SHACL implementations.
    - <h3>3.1</h3>
    - <h3>Corese SHACL

[2021-03-01 16:51] davidojedalopez commented on #121
Ran into the same issue while trying to highlight [one of Warren Buffett's oldest shareholder letter](https://www.berkshirehathaway.com/letters/1977.html).

It was my first time trying the extension, and I spent a good 10 minutes figuring out why it wasn't working when I stumbled upon this issue. I know it's not a priority since almost everything is not in plain text anymore, but it would be nice

[2021-03-06 12:38] siraj-samsudeen opened #131 "Extra backslash in Page Links and bulleted lists"
When I copy the title of this page and the URL, it adds the escape backslash - why?

\[New Issue · GitMurf/roam-highlighter\](https://github.com/GitMurf/roam-highlighter/issues/new)

Hence it appears like this in Preview mode in Obsidian. I would like it to turn off escape here as well as around bolded texts.

![image](https://user-images.githubusercontent.com/11910293/110206938-d0f01d00-7ea6-11eb

[2021-03-06 20:49] CRP31 opened #132 "Tags"
Is there a way to indent a line for Tags under the article title so that all highlights are indented under the tags?  I think this is the best way to ensure that all Roam tags/pages in the article are captured, but open to feedback to ensure my logic is correct here.

[2021-03-07 10:46] siraj-samsudeen commented on #131
Sorry for the false positive. this is inserted by Obsidian. I have found a setting in Editor which talks about converting HTML to markdown which does this. So, this is NOT an issue with this plugin. Thank you for the wonderful features built into the plugin

[2021-03-07 10:46] #131 closed

[2021-03-13 23:01] chaichontat opened #133 "Annotation support"
First of all, thank you for this awesome extension!

I'm wondering if it would be possible for users to type some notes between highlights. As of now, those get overwritten once I add a new highlight.

![2021-03-13 17 59 58](https://user-images.githubusercontent.com/34997334/111052094-086e4480-8426-11eb-9c4f-3073efaa0588.gif)

Thanks!

[2021-04-12 06:21] kchen0x commented on #50
Some website gives consistent line- or paragraph-breaks just before emphasis and links:

check https://sspai.com/post/60346

![image](https://user-images.githubusercontent.com/9739009/114349165-23091a00-9b9a-11eb-948c-8669671a7dad.png)

[2021-04-18 08:46] kvistgaard opened #134 "Saving settings not persisted anymore"
Since one of the latest version, every time I remove the tag and save the setting, it's their next time again.

[2021-04-18 09:56] GitMurf commented on #134
Can you please post a video / screen cast so I can see exactly what is happening? Thanks!

[2021-04-18 13:16] kvistgaard commented on #134
Here it is
https://www.loom.com/share/e2f5a8224f944ae7968bbb7de9990a47

[2021-06-06 00:40] cocoaaa opened #135 "How to deactivate roam-highlighter after it's turned on in the page"
Hi, I have a webpage (ie. jupyter notebook) which (1) I would rarely use roam-highlither on, and (2)has a conflict with ctrl+x shortcut ("cut the selected text as usual") that I need frequently.

Today I accidentally activated roam-highlighter on my `localhost` webpage (by pressing alt+x) , and couldn't figure out how to deactivate it.  Is there a way to do so?

Thank you for this awesome tool. I

[2021-06-08 22:47] GitMurf commented on #135
Just simply refresh the page and it turns it off. It only is active for the active page until you go to another page/site or until you refresh the page.

[2021-06-12 03:30] bonniesimon opened #136 "Doesn't work when using reader's mode on firefox"
It works fine on the normal website. But when I turn on the reader's mode in firefox, it doesn't work.
The extension doesn't open the sidebar at all.

[2021-06-13 10:40] binabdilwali opened #137 "Headings with <h1> etc tags are not turned into heading in Roam upon pasting"
### The highlighted text

![Screen Shot 2021-06-13 at 13 38 43](https://user-images.githubusercontent.com/44670449/121804002-c33bf780-cc4c-11eb-9beb-5c3d3b121fb7.png)

### what happens when pasted to Roam

![Screen Shot 2021-06-13 at 13 38 34](https://user-images.githubusercontent.com/44670449/121804004-c636e800-cc4c-11eb-8cf8-91b070bb4824.png)

[2021-06-16 08:36] kmmnyc commented on #137
Curious why it's set as <h></h> by default, is that a Windows thing? Is Mac # h1 ## h2 etc?
Had to change all of them manually, don't see a switch in the settings

[2021-10-15 04:51] jeremynevans commented on #36
+1 !

[2021-10-23 02:43] nhan000 opened #138 "Are you still developing this by any chance?"
Just asking to see if we'll have more features update/added. Your highlighter works really well. I'm a Logseq user and with some modification it'll probably works great with Logseq.

[2021-11-03 22:00] squiter opened #139 "Feature idea: Create a custom template to export the notes"
One thing that I'm missing in the extension is the option to customize how it'll generate the blocks. In my scenario, as an example, I like to put everything that I just copied from a site, or highlighted on a book, inside a quote block `[[>]]` to make it explicit that I'm coping this content from someone else.

If we could create a custom template to generate those blocks it'll solve that problem

[2021-12-05 08:33] awe-srush opened #140 "highlight pdf"
why am I not able to highlight pdf even after allowing permission for file URLs?

[2021-12-14 12:34] perfectlyGoodInk opened #141 "highlights don't persist when browser closed/reopened"
When I highlight a page and then close the browser (either Opera or Chrome) and reopen, the highlights on the page appear to be lost (and yes, I am enabling the extension with Alt-X when I go back to the page).

If this is a feature that has not yet been implemented, I would recommend documenting this clearly so that users know to save their highlights before closing the browser (fortunately, I di

[2021-12-14 14:07] GitMurf commented on #140
sorry but the highlighter doesn't work on PDFs. That would require a completely different architecture and is VERY difficult.

[2021-12-14 14:07] #140 closed

[2021-12-14 14:09] GitMurf commented on #141
Sorry but this is not a feature. I will try to document that better but this is for note taking and copying your highlights into a note taking tool like Roam or Obsidian or OneNote etc.

[2021-12-14 14:09] #141 closed

[2022-01-05 18:14] jumski opened #142 "Highlighting text does not work"
Hello!

I'm on Manjaro Linux and Firefox 95.0.1 (64-bit).
When i open highlighter window (alt+x or via icon) and then select some text it does not get a yellow highlight and is not copied to the highlighter windows. To be frank highlighter window shows help text and does not change it contents at all

[2022-01-16 05:39] cocoaaa opened #143 "[Q/Feature Request] Template format: Enter and Tab key to make a child block"
Hi, thank you for making this extension. It's been essential in my workflow for capturing texts and links in my Roam. I'm currently using a lightly customized template to have the title and URL of the webpage to be format as below:

![image](https://user-images.githubusercontent.com/8037983/149648431-683cd55d-0e9e-462d-a207-ef7bf1c66048.png)

What I'd like to happen when I copy and paste from the

[2022-01-18 03:20] GitMurf commented on #143
Unfortunately I played around with this a bit tonight to see if I could provide you with an easy temporary solution but wasn't able to come up with one. I hope to make an update to the extension sometime in the next couple months adding a lot of the requested items the last year but I just don't have the time right now and I no longer use Roam. I will keep you updated on this issue.

[2022-01-18 04:54] cocoaaa commented on #143
No problem and thank you for your quick response! I'll try if I can use a small Alfred workflow in the meantime.

[2022-03-15 12:37] aooie3 opened #144 "Copying text"
Hi I really love your highlighter so much easier to use than others I've tried thanks a bunch! I was just wondering is there a way to stop it copying the text that I highlight to my (windows) clipboard?

[2022-03-15 21:10] GitMurf commented on #138
@nhan000 sorry for the slow response! I have not done any updates in a while once I got it to a pretty stable version. I do have a list of things I would like to do but just haven't found the time or prioritized it. One day I will ;) Hopefully in the next 6 months... but no promises based on some other projects I am starting up.

[2022-03-15 21:13] GitMurf commented on #139
@squiter sorry for the slow response. Do you mean basically a way to prepend each highlight with a certain character(s)/string? So for example instead of the following:

[code]

You would instead have the following:

[code]

Do I understand your request correctly?

[2022-03-15 21:22] GitMurf commented on #139
Actually @squiter if this is indeed what you are looking for, you can already do this! :-) It isn't the most elegant solution but just change the "bullet" setting. See video below. Does this give you what you want?

https://user-images.githubusercontent.com/64155612/158474802-2e8cdd91-96b8-40ca-b382-22194a327e47.mp4

[2022-03-15 21:25] squiter commented on #139
Yeah, it's exactly that! I figure out and I'm already using it! I forgot to update here!
Anyway thanks \o

[2022-03-15 21:25] #139 closed

[2022-03-15 21:26] GitMurf commented on #142
@jumski can you please provide a screen recording / screenshots showing me exactly what things look like for you? Thanks!

[2022-03-15 21:29] GitMurf commented on #144
Hi @aooie3 ... thanks for the kind words. Do you mean you still want to highlight and have it show up in the extension sidebar but just NOT have it auto copy to the clipboard? Instead would you like a button that you have to click when you are ready to copy to the clipboard or something like that? If you could please clarify a bit your request and a proposed solution if you could have your perfect

[2022-03-15 21:38] GitMurf commented on #144
Or if you just mean in general how to stop auto highlighting you can disable the auto highlighter with this checkbox and make sure to click Save. Then it will only highlight after you select text and press the `ctrl` + `x` shortcut key.

![image](https://user-images.githubusercontent.com/64155612/158476983-a5825467-cdd3-4009-9a9d-f1628871e83a.png)

[2022-03-15 21:41] GitMurf commented on #139
Sweet! Glad to hear! My docs aren't the greatest in the world and my YouTube video tutorials you can barely hear the audio 🤣 ... one day I will improve all of that, but just have to find the time!

Curious... are you still using the Highlighter much? I'm always curious if people stick with my Extension or if just install it and then don't use it much after a while :)

[2022-03-16 00:52] aooie3 commented on #144
I'm really sorry I had a bit longer explanation written out but then accidentally deleted it and I really cant be bothered to write it all out nice again.

But in short, I only need to highlight the webpages for recipes/guides/manuals/lists so I can keep track what I have 'completed' without finding/remembering my place again.

When it copies of my highlights onto my windows clipboard for me it's

[2022-03-16 02:34] GitMurf commented on #144
Thanks for the explanation. Makes sense. I will definitely add this feature the next time I do updates which unfortunately probably won't be for a few months with all the things I have going on right now.

As for this:

Oh yeah, maybe you have a different use case then most. Most people use this highlighter for note taking apps like Roam Research (hence the name of the extension is Roam-highlighte

[2022-03-16 16:57] squiter commented on #139
Yeah man, I use it almost every day! :D
I like to bring highlights to my notes before going deeper into each quote to build an argument or just to think deeply about it and your extension helps me a lot in this process

[2022-03-18 17:02] jumski commented on #142
Hello @GitMurf i checked again (but on different machine) and it works correctly. I'm not sure what was the problem but i'll close it now because i cannot reproduce it anymore :-(

Thanks!

[2022-03-18 17:06] GitMurf commented on #139
Great to hear!

[2022-03-21 04:11] aooie3 commented on #144
Ah my bad on the misinterpreting it then yeah I've never heard of roam research I just thought it was a cool name :) but I get it now, kinda wish I knew about your highlighter when I was in university now. thanks for your help!

[2022-07-25 06:19] codie14 opened #145 "Alt+A doesn't work when "Reset defaults" was done to "Obsidian""
Once "Reset defaults" was used with "Obsidian", the Alt+A function no longer works.
Resetting defaults to "Roam" makes it work again.

[2022-08-02 06:15] MartinWinged opened #146 "Multiline code block"
Highlighted code could be wrapped into <code></code> blocks with correct indentation. Currently, it's only wrapped in ``.

[2022-08-02 06:27] MartinWinged opened #147 "Weird behavior"

[2022-08-03 21:02] Tjief opened #148 "Text formatting also for stuff coming from clipboard. Not just from web page"
The cool formatting stuff that can be done before pasting the text - should be possible also for text that got into the clipboard by other means.

Meaning, this extension could be expanded to be more than a clipper.

The line break formatter, for example. I grab text from many other places where I would like the breaks removed, to get a flowing text.
I grab a lot of stuff with screenshot OCR in ot

[2022-10-16 06:45] ohare93 commented on #136
Bump. Would like this too.

[2022-10-17 00:32] seifertb opened #149 "remove line break after Parent Title for Highlights"
Hi, I really like roam-highlighter. I use it for obsidian on a Mac. I experience the following issue: When  I create a new highlight using alt+x, a line break after the parent title is created.  How can I remove it?

E.g.:
[Markdown - Wikipedia](https://en.wikipedia.org/wiki/Markdown)

    * The initial description of Markdown

I want it to look like that:

[Markdown - Wikipedia](https://en.wikipe